@{
    ViewBag.Title = "PatientAppointmentCancellation";
}

<script> 
<!-- 
today = new Date(); 
document.write( today.getHours(),":",today.getMinutes()); 
document.write("&nbsp;&nbsp;", today.getDate(), "/", today.getMonth() + 1, "/", today.getYear());
//--> 
</script>
<div>
<label>Dear,________</label></div>
<p>We are sorry but your patient cancel their appointment for the following reason_________</p>
<p>Since the patient canceled 24-48 hours prior you will recieve 50% of your fee for the appointment.</p>

<table>
    <tr>
        <td><label>When</label></td>
         <td><text>Mon nov 8,2010 at 12:15pm</text></td>
        </tr>
    <tr>
         <td><label>Patient</label></td>
         <td><text>Jenny Martin</text></td>
    </tr>
    <tr>
         <td><label>Reason For Visit</label></td>
         <td><text>Urinary Tract Infection</text></td>
    </tr>
    <tr>
         <td><label>Reason Decline</label></td>
         <td><text>In Surgery</text></td>
    </tr>
</table>
