@{
    ViewBag.Title = "ResetPasswordSuccess";
}

<div class="contentTitle">
    <h2>Reset Password Status</h2>
    <div class="title_b_l"></div>
    <div class="title_b_r"></div>
</div>


<div class="bodyContent edit">
    <div class="bodyContentPadding">
        <div>
            <p>Password has been reset and emailed successfully.</p>
            <div class="buttonsWrapper">
                 @Html.ActionLink("Back to List", "Index" , "User", null, new { @class = "btn"})
             </div>
         </div>
    </div>
</div>