@{
    ViewBag.Title = "Get Started | Doctor";
}
@*<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.onepage-scroll.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        //$(".main").onepage_scroll({
        //    sectionContainer: "section"
        //});
    });

	</script>

<div class="wrapper">
    <div class="main">
        <div class="getStartedWrapper">
            <h1>Get Started</h1>
        </div>

        <section class="pageWrapper">
            <div class="page_container">
                <div class="content">
                    <div class="get_left">
                        <span class="circle_one"></span>
                    </div>
                    <div class="get_middle">
                        <h1>Create Profile </h1>
                        <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h2>

                    </div>
                    <div class="get_right">
                        <img src="~/Content/Images/g10.jpg" />
                        
                        
                    </div>

                </div>

            </div>

        </section>
        <section class="pageWrapper alternative">
            <div class="page_container">
                <div class="content">
                    <div class="get_right">
                        <img src="~/Content/Images/g8.jpg" />
                    </div>
                    <div class="get_middle">
                        <h1>Create Pay Rate </h1>
                        <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h2>

                    </div>
                    <div class="get_left">
                        <span class="circle_two"></span>
                    </div>



                </div>

            </div>

        </section>
        <section class="pageWrapper">
            <div class="page_container">
                <div class="content">
                    <div class="get_left">
                        <span class="circle_three"></span>
                    </div>
                    <div class="get_middle">
                        <h1>Set up your online schedule </h1>
                        <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h2>

                    </div>
                    <div class="get_right">
                        <img src="~/Content/Images/g5.jpg" />
                       
                    
                    </div>

                </div>

            </div>

        </section>
        <section class="pageWrapper alternative">
            <div class="page_container">
                <div class="content">
                    <div class="get_right">
                        <img src="~/Content/Images/g1.jpg" />
                    </div>
                    <div class="get_middle">
                        <h1>Set up your clinic schedule </h1>
                        <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h2>

                    </div>
                    <div class="get_left">
                        <span class="circle_four"></span>
                    </div>



                </div>

            </div>

        </section>
          <section class="pageWrapper">
            <div class="page_container">
                <div class="content">
                    <div class="get_left">
                        <span class="circle_five"></span>
                    </div>
                    <div class="get_middle">
                        <h1>Enjoy the benefits </h1>
                        <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h2>

                        
                    </div>
                    <div class="get_right">
                           <img src="~/Content/Images/g4.jpg" />
                    </div>

                </div>

            </div>

        </section>
       



       <div class="getStartedPanel">

            <a href="/Registration/DoctorSignUp" class="button">Join docare!</a>
        </div>


    </div>
</div>


