@*<table cellpadding="0" cellspacing="0" class="table"><tr><td>Patient Name</td><td>Date</td><td>Time</td><td>Reason For Visit</td><td> Status</td></tr></table>  *@
  <div id="grid2" style="margin-bottom:30px;"></div>
<script>
        var statusSelected = 0;
        var poData = [];
        $(document).ready(function () {
            calculate_time_zone();
            var doctorSlot = {
                TimeZoneOffset: document.getElementById('timezoneOffset').value,
                DSTObserved: document.getElementById('dstObserved').value
            };
         

            $("#grid2").kendoGrid({
              
                dataSource: {
                    pageSize: 5,
                    type: "json",
                    serverFiltering: false,
                    //transport: { read: "/PatientProfile/GetPastAppintmentDoc" }, 
                    transport: {
                        read: {
                            url: "/PatientProfile/GetPastAppintmentDoc",
                            dataType: "json",
                            type: "post",
                            //contentType: "application/json; charset=utf-8",
                            data: doctorSlot,
                        },
                    },
                    schema: {
                        id: "APPOINTMENTID",
                        model: {
                            fields: {
                                APPOINTMENTID: { type: "number" },
                                FIRSTNAME: { type: "string" },
                                APPOINTMENTSTARTTIME: { type: "Date" },
                                APPOINTMENTSTARTTIME: { type: "Date" },
                                CurrenttimeZone: { type: "string" },
                                REASONFORVISIT: { type: "string" },
                                STATUS: { type: "string" }
                            }
                        }
                    },
                },             
                groupable: false,               
                sortable: true,
                pageable: true,
                columns: [                     
                    {
                        field: "FIRSTNAME",
                        title: "Patient Name",
                        width: 90
                    },
                     {
                         field: "APPOINTMENTSTARTTIME",
                         title: "Date",
                         width:90,
                         template: '#= kendo.toString(APPOINTMENTSTARTTIME, "MM/dd/yyyy") #'

                     },
                    {
                        field: "APPOINTMENTSTARTTIME",
                        title: " Time",
                        width: 90,
                         template: '#= kendo.toString(APPOINTMENTSTARTTIME, "hh:mm tt") #'+" "+ '#=CurrenttimeZone#'
                    },
                    {
                        field: "REASONFORVISIT",
                        title: "Reason For Visit",
                        width: 120

                    },
                   {
                       field: "STATUS",
                       title: "Status",
                       width: 130
                   }
                    ,
                     {
                         filterable: false,
                         template: "<a title=${ APPOINTMENTID } onclick=setStatus(${ APPOINTMENTID },7) class='linkClass' href='javascript:void(0);' >Notes</a>",
                         title: "Notes",
                         width: 90
                     }

                ]
            });
       
        }); 
 
 </script>
