@model client.Web.Models.DoctorsInformationEditModel

@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Shared/_DoctorsInformationLayout.cshtml";
}

@*<h2><span class="username">@Html.ActionLink("My Profile", "DoctorsInformatonViews", "DoctorInformation", htmlAttributes: new { @class = "username", title = "Manage" })</span>> Public Profile</h2>*@




@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    <div class="d_changePassword">
        <div class="fleet">
            
            @{Html.RenderPartial("_changepassword");}

        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







<script>
    $(document).ready(function () {

        $('.c_pgTitleText').text('Change Password');
        $('.c_pgTitleIcon').addClass('myProfile');

        $("#OldPassword").val('');
        $("#NewPassword").val('');
        $("#ConfirmPassword").val('');
        if ($("#MessageUpdateStatus").val().length > 0) {
            $("#MessageUpdateStatus").show();
        } else {
            $("#MessageUpdateStatus").hide();
        }
        $("#OldPassword").on("focus", function () {
            $("#MessageUpdateStatus").hide();
        });


        $('.img_Shows').each(function () {

            $(this).attr('src', "@Model.USERPHOTOFILEPATH");
        });
    });

</script>

