<link rel="stylesheet" href="~/Content/smoothness/jquery-ui-1.8rc3.custom.css" type="text/css" />
<link href="~/Content/smoothness/jquery.weekcalendar.css" rel="stylesheet" />


<script src="~/Scripts/jquery-ui-1.8rc3.custom.min.js"></script>
<script src="~/Scripts/jquery.weekcalendar.js"></script>

<style type="text/css" >
.panelContent {
  display: block;
  background-color: #f0f0f0;
}
</style>

<script type='text/javascript'>
    
    var doctorSlots = [];
    var existingSlots = [];
    var eventData = [];
    var timeSlots = [], startTime, endTime, tempStartTime, tempEndTime;
    $(document).ready(function () {

        $('.toggleCalender.Clinic').toggle(
    function () {
        $('#calendard').hide();
        $(this).html('Show Calender');
    },
    function () {
        $('#calendard').show();
        $(this).html('Hide Calender');
    }
);
        function displayMessage(message) {

            // $("#message").html(message).fadeIn();
        }

        calculate_time_zone();
        GetExistingSlots();       

        function renderCalendar() {

            $('#calendard').weekCalendar({
                appointmentURL: '/PatientProfile/BookYourAppointmentClinic?id=',
                isPatient: true,
                isClinic:true,
                timeslotsPerHour: 4,
                useShortDayNames: true,
                businessHours: { start: 7, end: 22, limitDisplay: true },
                height: function ($calendar) {
                    return $(window).height() - $("h1").outerHeight();
                },
                eventRender: function (calEvent, $event) {
                    if (calEvent.end.getTime() < new Date().getTime()) {
                        $event.css("backgroundColor", "#aaa");
                        $event.find(".time").css({ "backgroundColor": "#999", "border": "1px solid #888" });
                    }
                },
                eventNew: function (calEvent, $event) {
                    displayMessage("<strong>Added event</strong><br/>Start: " + calEvent.start + "<br/>End: " + calEvent.end);
                    alert("You've added a new event. You would capture this event, add the logic for creating a new event with your own fields, data and whatever backend persistence you require.");
                },
                eventDrop: function (calEvent, $event) {
                    displayMessage("<strong>Moved Event</strong><br/>Start: " + calEvent.start + "<br/>End: " + calEvent.end);
                },
                eventResize: function (calEvent, $event) {
                    displayMessage("<strong>Resized Event</strong><br/>Start: " + calEvent.start + "<br/>End: " + calEvent.end);
                },
                eventClick: function (calEvent, $event) {
                    displayMessage("<strong>Clicked Event</strong><br/>Start: " + calEvent.start + "<br/>End: " + calEvent.end);
                },
                eventMouseover: function (calEvent, $event) {
                    displayMessage("<strong>Mouseover Event</strong><br/>Start: " + calEvent.start + "<br/>End: " + calEvent.end);
                },
                eventMouseout: function (calEvent, $event) {
                    displayMessage("<strong>Mouseout Event</strong><br/>Start: " + calEvent.start + "<br/>End: " + calEvent.end);
                },
                noEvents: function () {
                    displayMessage("There are no events for this week");
                },
                data: eventData
            });

            $('#calendard').weekCalendar('refresh');
        }

   
        function GetExistingSlots() {
            var doctorSlot = {
                TimeZoneOffset: document.getElementById('timezoneOffset').value,
                DSTObserved: document.getElementById('dstObserved').value
            };
            $.getJSON("/DoctorInformation/GetExistingDoctorClinicSlots", doctorSlot, function (data) {
	            existingSlots = data;
	            var isStart = false;

	            var jsonObj = '{"events" : [';

	            if (existingSlots.length > 0) {
	                for (var i = 0; i < existingSlots.length; i++) {
	                    //alert('existingSlots.length=' + existingSlots.length);
	                    var stDate = new Date(parseInt(existingSlots[i].FROMTIME.substring(6, existingSlots[i].FROMTIME.length - 2)));
	                    var ndDate = new Date(parseInt(existingSlots[i].TOTIME.substring(6, existingSlots[i].TOTIME.length - 2)));
	                    // alert(stDate + '   ' + ndDate);
	                    tempStartTime = stDate.getHours();
	                    if (ndDate.getMinutes() > 0)
	                        tempEndTime = ndDate.getHours() + 1;
	                    else
	                        tempEndTime = ndDate.getHours();
	                    if (!isStart) {
	                        startTime = tempStartTime;
	                        endTime = tempEndTime;
	                        isStart = true;
	                        if (existingSlots.length == 1) {
	                            var slot = { "start": startTime, "end": endTime };
	                            // alert(slot);
	                            timeSlots.push(slot);
	                        }
	                    }
	                    else {
	                        if (endTime != tempStartTime) {

	                            var slot = { "start": startTime, "end": endTime };
	                            if (!containsObject(slot, timeSlots)) {
	                                //alert( "start ="+ startTime +"end="+ endTime );
	                                timeSlots.push(slot);

	                            }
	                        }
	                        startTime = tempStartTime
	                        endTime = tempEndTime;
	                    }

	                }
	                // alert('timeSlots.length='+timeSlots.length);
	                //alert(timeSlots[0].start + '  ' + timeSlots[0].end + '  ' + timeSlots[1].start + '  ' + timeSlots[1].end);
	                //alert(timeSlots[2].start + '  ' + timeSlots[2].end + '  ' + timeSlots[3].start + '  ' + timeSlots[3].end);
	            }
	            if (existingSlots.length > 0) {
	                for (var i = 0; i < existingSlots.length; i++) {

	                    var stDate = new Date(parseInt(existingSlots[i].FROMTIME.substring(6, existingSlots[i].FROMTIME.length - 2)));
	                    var ndDate = new Date(parseInt(existingSlots[i].TOTIME.substring(6, existingSlots[i].TOTIME.length - 2)));

	                    var eventStartDate = new Date(stDate.getMonth() + 1 + '/' + stDate.getDate() + '/' + stDate.getFullYear() + ' ' + stDate.getHours() + ':' + stDate.getMinutes()).getTime();
	                    var eventEndDate = new Date(ndDate.getMonth() + 1 + '/' + ndDate.getDate() + '/' + ndDate.getFullYear() + ' ' + ndDate.getHours() + ':' + ndDate.getMinutes()).getTime();


	                    var event = ' { "id": ' + existingSlots[i].DOCTORSLOTID + ', "start":' + eventStartDate + ', "end":' + eventEndDate + ', "title": "" },';
	                    jsonObj += event;
	                }
	            }
	            jsonObj = jsonObj.substr(0, jsonObj.length - 1);
	            jsonObj += ']}';
	            eventData = $.parseJSON(jsonObj);

	            renderCalendar();

	        });
	    }
	});
    function containsObject(obj, list) {
        var i;
        for (i = 0; i < list.length; i++) {
            if (list[i].start === obj.start && list[i].end === obj.end) {
                return true;
            }
        }
        return false;
    }
    
   
</script>


 <div class="panelHeading">
    <h1> Clinic Appointments </h1>   
</div>
<div class="linkClass toggleCalender Clinic">Hide Calender</div>
<div id='calendard'></div>