@model client.Web.Models.DoctorsInformationEditModel

@{
    ViewBag.Title = "DoctorsSearch";
    Layout = "~/Views/Shared/_PateintInformationLayout.cshtml";
}

<div class="pagetTitle">
     <span class="pageIcon profiderSearch" ></span><h6>Advanced Search</h6>
</div>
   
<script type="text/javascript">
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success);
    } else {
        alert("Geo Location is not supported on your current browser!");
    }
    function success(position) {
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        var city = position.coords.locality;
        var myLatlng = new google.maps.LatLng(lat, long);
        var myOptions = {
            center: myLatlng,
            zoom: 2,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var marker = new google.maps.Marker({
            position: myLatlng,
            title: "lat: " + lat + " long: " + long
        });

        marker.setMap(map);
        //var infowindow = new google.maps.InfoWindow({ content: "<b>User Address</b><br/> Latitude:" + lat + "<br /> Longitude:" + long + "" });
        infowindow.open(map, marker);
    }
</script>

<div class="accordion noaccordion">   
    <div class="frameContainer">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(false)        
                         <div>@{Html.RenderPartial("_DoctorsSearch");}</div>
        }
</div>
</div>


<script>
   $(document).ready(function () {

       $('.c_pgTitleText').text('Advanced Search');

      

       $('.img_Showed').each(function () {

           $.ajax({
               type: "GET",
               url: "/PatientProfile/ImagePath",
               data: "{}",
               contentType: "application/json; charset=utf-8",
               dataType: "json",
               success: function (msg) {
                   $('.img_Showed').attr('src', msg.msg);

               }
           });

       });
    });
</script>
<style>
    .icon_videoSlots {
        margin: 3px 5px 0 0;
    }
    .icon_clinicSlots {
margin: 2px 5px 0 0;
}
    .doctorSearch .editor-field{
        margin-bottom:-5px;
    }
</style>

