

/*input,textarea{color:inherit;}*/

/*table{width:100% !important;text-align:left !important; font-weight:normal !important;}
table tr td{padding:5px 4px !important;font-size:14px !important;}
table label, table th{font-weight:normal !important;}
table th{padding:5px 0;}
.table tbody tr td {
background-color: #BABABA;
font-weight: bold;
color: #fff;
text-indent: 0px;
}*/

#expdate{
width: auto !important;
}

/*.k-list-container {
   width:143px !important;
}
.imagedisplay {
    width:100px;
    height:100px;
}*/
#loading {
display: none;
width: 20px;
float: right;
margin: 5px 5px 0 0;
}
/*.k-header, .k-grid-header {
background-color: #999999 !important;
background-image: none !important;
color: #fff !important;
font-weight: normal !important;
}
.k-grid.k-widget {
height: auto !important;
}*/

/*.k-block, .k-widget {
border: 0px !important;
}

.table tbody tr td {
background-color: #BABABA;
font-weight: bold;
color: #fff;
text-indent: 0px;
vertical-align: top;
padding-left: 5px !important;
}*/

.read {
        background-color: #fff !important;
        height: 20px;
        font-size: 12px;
    }

    .unread {
        background-color: #f2f2f2 !important;
        font-weight: bold;
        height: 10px;
        font-size: 12px;
    }
/*table tr td a{font-size:14px;}*/




/*.tabLogin.selected:after{
    position:absolute;
    content:'';
   margin-top:38px;
    background:url(/Content/Images/tabLoginArrow.jpg) no-repeat;
    width:25px;
    height:11px;
    margin-left:-50px;
}*/


/*.recaptchatable .recaptcha_image_cell, #recaptcha_table {
    background-color:#FFF !important; /*reCaptcha widget background color''
  }
  
  #recaptcha_table {
    border-color: #FFF !important;  /*''//reCaptcha widget border color''
  }
  
  #recaptcha_response_field {
    border-color: #FFF !important;  /*''//Text input field border color''
    background-color: #FFF !important;  /*''//Text input field background color''
  }*/
fieldset legend {display: none;}
.field-validation-error{color:#c3221a;padding:1px 0;width:100%;float:left;}
.validation-summary-errors {background-color:#fff4bf;margin:0px 0 0 0;padding:10px;color:#c3221a;border:0px solid #d9cd96;}
.validation-summary-errors span{font-weight:bold;font-size:15px;}
.validation-summary-errors ul{margin:5px 0 0 15px;}
.validation-summary-errors ul li{list-style:disc;}





.bodyContent{width:99%;margin:0px auto;background-color:#fff;position:relative;top:0px;border-left:1px solid #bbbbbb;border-right:1px solid #bbbbbb;border-bottom:1px solid #bbbbbb;}
.bodyContentPadding{padding:20px;}
.bodyContent.edit table{width:100%;}
.bodyContentPadding h3{font-size:20px;margin-bottom:20px;}


.bodyContent.edit table tr td input[type='checkbox']{width:auto;}
.bodyContent.edit h3{font-size:20px;margin-bottom:10px;}
.title_b_l{background:url(../content/images/title_b_l.jpg) no-repeat;width:10px;height:10px;left:0;bottom:0;position:relative;top:23px;}
.title_b_r{background:url(../content/images/title_b_r.jpg) no-repeat;width:10px;height:10px;right:0;bottom:0;position:relative;top:13px;float:right;}
.grid{margin-top:20px;}

/*.k-header, .k-grid-header, .k-toolbar, .k-dropdown-wrap, .k-picker-wrap, .k-grouping-header, .k-pager-wrap, .k-textbox, .k-button, .k-draghandle, .k-tile, .k-autocomplete, .k-state-highlight, .k-tabstrip-items .k-item {
    background-color:#485158 !important;background-image:none !important;color:#fff !important;
}
.k-block, .k-widget, .k-inline-block, .k-textbox > input, .k-input[type="text"], .k-input[type="number"], .k-textbox, .k-picker-wrap .k-input, .k-button, .k-draghandle    
*/
/*.k-content{margin:20px 0 0 0;width:100%;}
.k-header,.k-grid-header{background-color:#999 !important;background-image:none !important;color:#fff !important;}
.k-header a{color:#fff !important;}
.k-grid td{border-bottom:1px solid #d9d9d9 !important;border-left-width:0px !important;color:#5f6c75 !important;}
.k-block, .k-widget{border:0px !important;}
.k-alt, .k-separator{background-color:white !important;}
#grid table tr:hover{background-color:#fffce2 !important;}*/
/*.grid table tr:hover{background-color:#fffce2 !important;}**/

.k-icon.k-filter {
    background: url(../content/images/filter_icon.png) no-repeat !important;
    width: 8px !important;
    height: 8px !important;
    margin-right:10px !important;
}
/*.k-grid td a {padding:0 3px;}*/





/*label*/
.lblDelete {color:#c3221a;}


/*buttons*/
.linkEdit{background:url(../Content/Images/doccare_sprite.png) no-repeat -532px -7px; width:19px;height:19px;display:block;float:left;}
.linkDetails{background:url(../content/images/icon_details.png) no-repeat; width:17px;height:17px;display:block;float:left;}
.linkDelete{background:url(../content/images/icon_delete.png) no-repeat; width:17px;height:17px;display:block;float:left;}
.linkRoles{background:url(../content/images/icon_role.png) no-repeat; width:17px;height:17px;display:block;float:left;}
.linkDownload{background:url(/Content/Images/doccare_sprite.png) no-repeat -4px -120px; width:70px;height:30px;display:block;float:left;}


/*tabs*/
#tabs {z-index:1;}

/*tab styles*/
#tabs ul {padding: 0px;margin: 0px;list-style-type: none;margin:10px 0 0 0px;}
#tabs ul li {display: inline-block;clear: none;background: #fff;padding:8px 15px;margin:0 10px 0 0;font-weight:bold;border:1px solid #A5A5A5;border-bottom:0;}
#tabs ul li:hover{background-color:#ececec;}
/*#tabs ul li:hover a{color:#fff;}*/
#tabs ul li.active{background-color:#A5A5A5;}
#tabs ul li a {display: block;color: #666;text-decoration: none;left:1px;cursor:pointer;font-size:14px;}
#tabs ul li.active a{color:#fff;}
#tabs ul li a:hover {text-decoration: none;}
#tabs #Content_Area {padding: 0 0px;clear: both;overflow: hidden;position: relative;z-index: 5;height: auto;overflow: hidden;border-top:2px solid #A5A5A5;}

.gridPadding{padding:20px 0 0 0;float:left;}

/*docare styles*/
#logo {background:url(Images/doccare_logo.jpg) no-repeat;width:211px;height:38px;float:left;display:block;margin:10px 0 0 -10px;}
.wrapper {width: 100%;}
header {width:100%;height:70px;background-color:#fff;box-shadow:1px 0 2px 1px #C3C3C3;margin-bottom:30px;}
header .headerInner{width:960px;margin:0 auto;}
.whoIsP{float:right;display:inline-block;margin:10px 0 0 0;}
.whoIsP b{font-size:20px;color:#999;margin:16px 10px 0 0;display:inline-block;font-weight:normal;}
.whoIsP span{width:50px;height:46px;background:url(/Content/Images/doccare_sprite.png) no-repeat -2px -63px;float:right;}
.whoIs{float:right;display:inline-block;margin:10px 0 0 0;}
.whoIs b{font-size:20px;color:#999;margin:16px 10px 0 0;display:inline-block;font-weight:normal;}
.whoIs span{width:50px;height:46px;background:url(/Content/Images/doccare_sprite.png) no-repeat -48px -63px;float:right;}


.whoIsDoctorSignup{width:70px;height:60px;background:url(/Content/Images/doccare_sprite.png) no-repeat -290px -158px;float:left;}
.whoIsPatientSignup{width:70px;height:65px;background:url(/Content/Images/doccare_sprite.png) no-repeat -215px -155px;float:left;}
.signupTitle{float:left;}

.bodyInner{width:960px;margin:0 auto;}
.homeSlider {background-color:#10c8fe;width:100%;height:318px;text-align: center;}
.homeSlider img {text-align: center;}
.welcome {background-color:#ededed;width:100%;padding:15px 0;}
.welcome .welcomeInner{width:960px;margin:0 auto;padding:0 20px;}
.welcome .welcomeInner h1{color:#000;font-size:30px;}
.welcome .welcomeInner p{color:#000;font-size:15px;line-height:27px;font-family: helvetica;}

/*footer*/
/*footer {width:100%;margin:30px 0 0 0;background-color:#828282;height:40px;position:fixed;z-index:999999;bottom:0;}*/
.messageCounter {width:20px;height:20px;font-size:14px;text-align:center;line-height:20px;background-color:red;position:fixed;z-index:999;color:white;font-weight:bold;border-radius:30px;margin:2px 0 0 76px;}





.frame {
display:inline-block;width:100%;height:auto;background-color:#fff;border:0px solid #bdbdbd;border-bottom:0px solid #bdbdbd;margin:10px 0 80px 0;box-shadow:0px 1px 3px 1px #8e8c8c;padding-bottom:1px;
}
.frameHeader{background-color:#10c8fe;width:100%;padding:0px 0;display:inline-block;}
.frameHeaderInner{padding:12px 0 ;color:#fff;display:inline-block;width:100%;}
.frameHeaderInner .left{padding-left:15px;}
.frameHeaderInner .switchPatientSignup{}
.frameHeaderInner h1{font-size:35px;}
.frameHeaderInner h2{font-weight:bold;}
.frameHeaderInner .left{width:auto !important;}
.frameContent{margin:10px 20px;display:inline-block;width:96%;}
.framecontentTitle{clear:both;border-bottom:1px solid #D1D1D1;width:100%;height:30px;padding: 7px 0;border-top-width:0px;cursor:pointer;background:#ececec url(/Content/Images/expand.png) no-repeat right 20px;margin-bottom:8px;/*box-shadow:0 3px 1px -2px #aeaeae;*/}
.framecontentTitle h2{font-size:18px;color:#333;font-weight:normal;/*margin:10px 0 0 5px;*/line-height:24px;color:#666;}
.framecontentTitle:hover{background-color:#fff;}
.framecontentTitle:hover h2{color:#10c8fe;}
.framecontentTitle:hover span{background-color:#10c8fe;}
.framecontentTitle h2 b{margin:3px 0 0 5px;float:left;font-weight:normal;}


.framecontentTitle.active h2{color:#10c8fe !important;margin:0px;}
.framecontentTitle.active{background:url(/Content/Images/collapse.png) no-repeat right 20px;color:#fff;}
.framecontentTitle.active span{background-color:#10c8fe;padding:3px 12px;float:left;color:#fff;margin-right:5px;}
.framecontentTitle span{background-color:#9e9e9e;padding:3px 12px;float:left;color:#fff;margin-right:5px;}

.frame.inside .frameContent{margin:0px;width:100%;border-top:1px solid #999;margin-top:15px;background-color:#f2f2f2;}
.frame.inside .frameContent .left{width:720px;}
.frame.inside .framecontentTitle h2{font-size:15px !important;font-weight:bold;}

.switchPatientSignup{float:right;background-color:#00a0cf;padding:7px 30px;cursor:pointer;}
.switchPatientSignup:hover{background-color:#0090B7;color:#fff;}
.switchPatientSignup:hover a{color:#fff;}

#passwordPolicy {
display:none;
}
.switchPatientSignup h2{margin-top:3px;}
.frameContainer{margin:0px 0 10px 0;}
form .frameContainer{width:100%;}
form .frameContainer input{width:250px;height:15px;}
form .frameContainer input.check-box{width:20px;margin-top:0px;float:left;}
/*.row{margin-bottom:8px;clear:both;width:100%;float:left;}
.row .left{margin-right:15px;}
.row .right{}
.row .editor-label{margin:0px;}
.row label{}*/

.row select option{padding:3px 2px;}
.left{float:left;}
.right{float:right;}
#VERIFICATIONCODE{clear:both;}
.verificationCode{background-color:#e8e8e8;padding:9px;width:auto;display:inline-block;margin-top:10px;float:left;}
.verificationCode .editor-label{font-weight:bold;font-size:15px;}
.verificationCode #CaptchaInputText{position:relative;margin-top:-22px;font-family: helvetica;float:left;width:230px;}
.verificationCode .realperson-challenge{position:absolute;margin-top:-81px;display:inline-block;width:auto;}
.verificationTitle{font-weight:bold;font-size:15px;padding-bottom:5px;margin-bottom:10px;border-bottom:1px solid #c2c2c2;}
.realperson-challenge{width:100%;}
.realperson-text{float:left;}
.verificationCode a{float:left;}
.verificationCode #CaptchaImage{float:left;margin-bottom:40px;border:1px solid #C3C3C3;}




#image{width:150px;height:150px;float:left;padding:0 10px 0 0;}

.profileImage{float:left;width:150px;height:150px;padding:0 10px 0 0;}
.profileHeader{margin:10px 0 0 0;}
.profileHeader .left{width:300px;}
.leftColumn{width:200px;float:left;padding-right:0px;margin-left:-20px;}
.rightColumn{width:500px;padding-left:20px;display:inline-block;}

.clear {
    clear: both;
}

/*Style sheet for patient pages starts here*/

.pateint_wrapper {
    /*margin-left:10px;*/
}
.patentPage_headerInner {
}

.patieet_leftmenu {
    width:260px;
    float:left;
   margin:20px;
   box-shadow: 0px 1px 3px 1px #8e8c8c;
   padding:15px;
}
#display {
    color:black;width:110px;border:none !important;background-color: #fff;background: transparent !important;box-shadow:none !important;
    text-transform:uppercase;
    font-size:18px;
}
#grid2 {
   /* width: 60%;*/
}
#heightClass {
    min-height:500px;
}
/*.k-pager-wrap {
    display: block;
}*/
.zipContent {
    float: right;
width: 420px;
margin-top: -920px;
margin-right: -120px;
}
.my_profile_content {
    width: 500px;
    background-color: #10c8fe;
    height: 40px;
    padding: 10px;
}


.profilePicture{float:left;width:180px;}
.profilePicture img{width:150px;height:150px;border:1px solid #999;float:left;margin:10px 0 10px 10px;}
.profileDocReview img{width:100px;height:100px;border:1px solid #999;float:left;margin:0px 10px 10px 0px;}


.accordion{}
.accordion .framecontentTitle{height:22px;background-position:100% 13px;}
.accordion .framecontentTitle h3{line-height:24px;padding-left:10px;color:#666;}
.accordion .framecontentTitle.active h3{color:#fff;}
.accordion .framecontentTitle a.toggle{float:right;position:relative;margin:-20px 30px 0 0;color:#999;}
.accordion .framecontentTitle a.toggle:hover{color:#000;text-decoration:underline;}
.accordion .framecontentTitle.active a.toggle{color:#333;}
.accordion .framecontentTitle.active a.toggle:hover{color:#333;}

.docInfoDisplay{position:relative;margin:-25px 0 0 -17px;}
.docInfoDetails{float:left;width:770px;margin:20px 0;}
.docInfoEdit{width:770px;}
.docInfoEdit .docInfoDetails{margin:0;}
.docInfoEdit input,.docInfoEdit select{width:200px !important;height:auto !important;}
.docInfoEdit .btnClass{width:auto !important;margin-right:10px;}
.docInfoEdit .lastContent{margin-left:0px;}
.docInfoEdit textarea{width:auto !important;font-size:14px; line-height:20px;text-indent:0;padding:0;}
.docInfoEdit .middleContent{width:257px !important;float:left;margin-right:0px !important;}
.docInfoEdit .leftContent{margin-left:0px !important;}

.docInfoDetails .leftContent{width:120px;float:left;margin-left:17px;}
.docInfoDetails .middleContent{margin-right:10px;width:278px;float:left;}
.docInfoDetails .lastContent{width:345px;float:left;}
.docInfoDetails .middleContent .display-label,.docInfoDetails .middleContent .display-field{float:left;padding-bottom:10px;}
.docInfoDetails .lastContent .display-label,.docInfoDetails .lastContent .display-field{float:left;padding-bottom:10px;}
.docInfoDetails .middleContent .display-field{width:140px;word-wrap:break-word;}
.docInfoDetails .middleContent .display-label{width:130px;font-weight:normal;}
.docInfoDetails .lastContent .display-field{width:140px;font-weight:normal;word-wrap:break-word;}
.docInfoDetails .lastContent .display-label{width:205px;}



/*Doctor Review*/
/*About Doctor*/
#doctorsInfoDisplay{display:block;}
#doctorsInfoEdit{display:none;}

/*About Clinic*/
/*#docInfoClinicDisplay{display:block;}
#docInfoClinicEdit{display:none;}*/

/*Video oppointment*/
/*Clinic oppointment*/

/*Doctor rating*/
#docRatesDisplay{display:block;}
#docRatesEdit{display:none;}

.myReviews{width:100%;margin:0px;float:left;}


.myReviews .leftContent{width:200px;float:left;}
.myReviews .middleContent{margin-right:15px;width:300px;float:left;}
.myReviews .lastContent{width:280px;float:left;}
.myReviews .leftContent .display-label,.myReviews .middleContent .display-label,.docInfoDetails .middleContent .display-field{float:left;padding-bottom:7px;}
.myReviews .lastContent .display-label,.docInfoDetails .lastContent .display-field{float:left;padding-bottom:7px;}
.myReviews .middleContent .display-label{width:100px;font-weight:normal;}
.myReviews .lastContent .display-label{width:50%;clear:both;}
.myReviews .lastContent .display-field{float:left;}

/*.ratings{}
.ratings img{float:left;padding:0 0px;border:0px !important;margin:0px !important;width:28px !important;height:auto !important;}*/

.docClinic{width:770px;margin:0px 0;float:left;}
.docClinic .clinicPicture{float:left;width:120px;}
.docClinic .clinicPicture img{width:100px;height:100px;border:1px solid #999;float:left;margin:0px 10px 10px 0px;}
.docClinic .leftContent{width:600px;float:left;margin-left: 30px;}
.docClinic .middleContent{margin-right:15px;width:200px;float:left;}
.docClinic .lastContent{width:220px;float:left;}
.docClinic .leftContent .display-label{float:left;padding-bottom:7px;width:150px;}
.docClinic .lastContent .display-field{float:left;padding-bottom:7px;}
.docClinic input{width:300px !important;height:auto !important;}
.docClinic .btnClass{width:auto !important;margin-right:10px;}
.docClinic .leftContent .display-field{width:400px;}

.videoAppointments{width:100%;margin:0px;}
.titlebar{font-size:13px;}
.videoAppointments input{width:auto !important;height:auto !important;}
.availableTime{}
/*.availableTime b{clear:both;width:100%;margin:10px 0;display:inline-block;border-bottom:1px solid #999; }*/
/*.availableTime label{width:80px;margin-left:0px !important;display:inline-block;}
.availableTime span.k-timepicker{margin-right:15px;}
.availableTime span.k-datepicker{margin-right:15px;}*/
/*.videoAppointments .btnWrapper{margin:10px 0 10px 0;width:100%;text-align:left;}*/

/*ul#daysbox{margin:4px 0 0 0;}
ul#daysbox li{display:inline-block;padding:0 4px;}

ul#daysbox1{margin:4px 0 0 0;}
ul#daysbox1 li{display:inline-block;padding:0 4px;}*/



/*.videoAppointmentCalender{width:auto;margin:10px 0 15px 0;}*/


.clinicAppointments{width:auto;margin:0px;}
#myAvailabilityDiv{margin:0px;}
.clinicAppointments input{width:auto !important;height:auto !important;}

.clinicAppointmentCalender{width:auto;margin:10px 0 15px 0;}

.toggleCalender{border:0px;float:left;color:#10C8FE;cursor:pointer;}
.toggleCalender b{border:0px;}

.payRates{width:100%;margin:0px;}
.payRates .row{border-bottom:1px solid #999;padding:5px 0;display:inline-block;width:100%;}
.payRates .display-label{float:left;width:70px;text-align:center;margin:10px 0;}
.payRates .display-field{float:left;width:70px;text-align:center;margin:10px 0;}
.payRates .heading{width:100px;font-weight:bold;text-align:left;}

.docRatesEdit{width:770px;float:left;}
.docRatesEdit .row{border-bottom:1px solid #999;padding:5px 0;display:inline-block;width:720px;}
.docRatesEdit .editor-label{float:left;width:70px;text-align:center;margin:10px 0;}
.docRatesEdit .editor-field{float:left;width:70px;text-align:center;margin:10px 0;}
.docRatesEdit .heading{width:150px;font-weight:bold;text-align:left;}
.docRatesEdit input{width:60px !important;height:auto !important;}
.docRatesEdit .btnClass{width:auto !important;margin-right:10px;}


.leftMenu{float:left;width:170px;border-right:0px solid #999;}
.leftMenu #cssmenu ul li{border-bottom:1px solid #999;padding:0px 0;border-top:1px solid #fff;}
.leftMenu #cssmenu ul li:first-child{border-top:0px solid #fff;}
.leftMenu #cssmenu ul li ul li{border-bottom:0px solid #999;padding:0px 0;border-top:0px solid #fff;}
.leftMenu #cssmenu ul li ul{float:left;margin:5px 0 0 0;}
.leftMenu #cssmenu li a{padding:4% 3%;font-family:helvetica;color:#666;}
.leftMenu #cssmenu li a:hover{background-color:#c5c5c5;color:#000;}
.leftMenu #cssmenu li a b{margin:3px 0 0 8px;display:inline-block;}
.leftMenu #cssmenu li ul li a{padding:1%;font-size:12px;}
.leftMenu #cssmenu li a:hover ul li a:hover{background-color:transparent;}
.leftMenu #cssmenu li ul li a:hover{background-color:transparent;color:#000;}
.leftMenu #cssmenu ul li ul{}
.leftMenu #cssmenu ul li.last{}
.leftMenu #cssmenu ul li.active{background-color:#666;border-radius:0px;color:#fff;}
.leftMenu #cssmenu ul li.active a{color:#fff;}
.leftMenu #cssmenu ul li.active ul li a{color:#666;}
.leftMenu #cssmenu ul li ul li a.selected{color:red;}


.leftMenu #cssmenu ul li .iconProSearch {
background: url(/Content/Images/doccare_sprite.png) no-repeat -399px -5px;
width: 18px;
height: 20px;
float: left;
}

.leftMenu #cssmenu ul li .iconHealth {
background: url(/Content/Images/doccare_sprite.png) no-repeat -431px -5px;
width: 18px;
height: 20px;
float: left;
}
.leftMenu #cssmenu ul li .iconUserProfile{background:url(/Content/Images/doccare_sprite.png) no-repeat -241px -6px;width:20px;height:20px;float:left;}
.leftMenu #cssmenu ul li.active .iconUserProfile{background:url(/Content/Images/doccare_sprite.png) no-repeat -221px -6px;width:20px;height:20px;float:left;}

.leftMenu #cssmenu ul li .iconVideo{background:url(/Content/Images/doccare_sprite.png) no-repeat -338px -6px;width:20px;height:20px;float:left;}
.leftMenu #cssmenu ul li.active .iconVideo{background:url(/Content/Images/doccare_sprite.png) no-repeat -357px -6px;width:20px;height:20px;float:left;}

.leftMenu #cssmenu ul li .iconAppointment{background:url(/Content/Images/doccare_sprite.png) no-repeat -315px -6px;width:20px;height:20px;float:left;}
.leftMenu #cssmenu ul li.active .iconAppointment{background:url(/Content/Images/doccare_sprite.png) no-repeat -377px -6px;width:20px;height:20px;float:left;}

.leftMenu #cssmenu ul li .iconMessage{background:url(/Content/Images/doccare_sprite.png) no-repeat -200px -5px;width:18px;height:20px;float:left;}
.leftMenu #cssmenu ul li.active .iconMessage{background:url(/Content/Images/doccare_sprite.png) no-repeat -181px -5px;width:18px;height:20px;float:left;}

.leftMenu #cssmenu ul li .iconAccount{background:url(/Content/Images/doccare_sprite.png) no-repeat -465px -5px;width:18px;height:20px;float:left;}
.leftMenu #cssmenu ul li.active .iconAccount{background:url(/Content/Images/doccare_sprite.png) no-repeat -484px -5px;width:18px;height:20px;float:left;}

.leftMenu #cssmenu ul li .iconReport{background:url(/Content/Images/doccare_sprite.png) no-repeat -502px -5px;width:18px;height:20px;float:left;}
.leftMenu #cssmenu ul li.active .iconReport{background:url(/Content/Images/doccare_sprite.png) no-repeat -519px -5px;width:18px;height:20px;float:left;}

.iconSuccess{background:url(/Content/Images/success.png) no-repeat;width:48px;height:48px;float:left;margin:0 10px 0 0;}


.rightColumnContent{border-left:1px solid #999999;width:772px !important;min-height:600px;background-color:#fff;}
.rightColumnContent section{margin:10px;width:100%;}
.docSection{margin:10px 0 0 10px;}

/*.doctorWelcome{margin:10px 0 0 10px;float:left;width:760px;}
.doctorWelcome a{font-weight:bold;color:#10C8FE;padding:0 0 0 6px;font-size:12px;}
.doctorWelcome a:hover{text-decoration:underline;}
.doctorWelcome a:first-child{padding:0 6px 0 0;}
.doctorWelcome h1{word-break:break-all;word-wrap:break-word;width:315px;}
.doctorWelcomeMessage{clear:both;color:#999;margin:15px 0 3px 0;}
.doctorWelcomeMessage a{color:#000;}*/




/*.clockWrapper #div1{float:right;background-color:#666;}
.clockWrapper .hasCountdown{background-color:transparent;color:#fff;border:0px;}*/
/*.videoLarge{width:100%;}
.videoLarge .streamHolder{width:100%;}
.videoSmall{position:absolute;margin:0px;left:0;top:0;}
.videoSmall .streamHolder{width:150px;height:150px;background-color:#4b4b4b;position:relative;margin:10px 0 0 10px;}*/

.videoSmall{width:100%;}
.videoSmall .streamHolder{width:100%;}
.videoLarge{position:absolute;margin:0px;left:0;top:0;}
.videoLarge .streamHolder{width:150px;height:150px;background-color:#4b4b4b;position:relative;margin:10px 0 0 10px;}*/
#stream_light_1 img
{
    display: none;
}
#stream_light_2{display: none;
}


.white_content {
display: none;
margin:0px auto;
position:absolute;
top:25%;
width: 500px;
height: 180px;
padding: 16px;
border: 0px solid gray;
background-color: white;
z-index: 1002;
overflow: auto;
color: Black !important;
box-shadow:0px 1px 5px 2px #333;
}

/*#MessageUpdateStatus {
background :url(/Content/Images/successmessage.png)no-repeat;
background-color: #DCEFF4;
margin: 0px 5px 0 0;
color: #1072B5;
padding-left:25px;
padding-bottom:10px;
font-weight: bold;
border: 0px ;
width:96.8% ;
}

.MessageUpdateStatus {
background :url(/Content/Images/closeBtn.jpg)no-repeat !important ;
background-color: #DCEFF4 !important;
margin: 0px 5px 0 0 !important;
color: red !important;
padding-left:25px !important;
padding-bottom:5px !important;
padding-top:5px !important;
font-weight: bold !important;
border: 0px !important;
width:96.8% !important;
}*/
#divAppointment {
    z-index:9999999 !important;
    font-size:18px;
    font-weight:bold;
    position:absolute;
    left:40%;
    top:50%;
    width:400px;
    box-shadow: 0px 1px 5px 2px #333;
}

.arrow-up {
	width: 0; 
	height: 0;  
    margin-left:51%;
    top:-10px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-bottom: 10px solid #10C8FE;   
  
}
.appclose {
   margin-left:183%;
   margin-top:1.8%;
   position:relative;
    z-index:99999999 !important;
     border-radius: 22px;
     -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
     cursor: pointer;
}
#divCancelledAppointments {
    z-index:9999999 !important;
    font-size:18px;
    font-weight:bold;
    position:absolute;
    padding:0px;
    left:38%;
    top:36.8%;
    width:500px;
    max-height:150px;
    overflow-y:scroll;  
    overflow-x:hidden;  
    box-shadow: 0px 1px 5px 2px #333;
   margin-top:8px;
}
.ui-dialog.ui-widget.ui-widget-content {
       z-index:9999999 !important;
}
.streamLight {
float: left;
vertical-align: middle;
margin-bottom: 4px;
}

.streamName {
margin-top: 3px;
padding-left: 25px;
}

.streamHolder {
/* background-color: #77888C; */

background-color: #000;
/*height: 138px;
width: 215px;*/
height: 350px;
width: 300px;
clear: both;
}
#streamsList {
    width:95%;float:left;
}

#streamsList li {
margin: 0px;
min-height: 160px;
min-width: 160px;
position:relative;
list-style: none;
}

div#clock {
/*width: 215px;
height: 45px;*/
}

div#div1 {
width: 240px;
height: 45px;
}




.inbox{margin-left:0px;}
.inbox .actionPanel{background-color:#e8e8e8 !important;display:inline-block;padding:1%;width:98%;}
.inbox #grid{width:100%;float:left;}

.inbox #drpMessageStatus{}
.inbox .framecontentTitle{margin-bottom:0px;}
.inbox input{width:auto !important;}


#btndelete ,#btnrefresh, #btnselect,  #btndel3, #btndel40{width:16px !important;height:16px;margin:2px 5px;border:0px;float:left;text-indent:-9999px;border-radius:0;box-shadow:none;cursor:pointer;}
#btndelete,  #btndel3, #btndel40{background:url(Images/trash16x16.png) no-repeat;}
#btnrefresh{background:url(Images/refresh16x16.png) no-repeat;}
#btnselect{background:url(Images/selectall16x16.png) no-repeat;}

#btndelete1 ,#btnrefresh1, #btnselect1{width:16px !important;height:16px;margin:2px 5px;border:0px;float:left;text-indent:-9999px;border-radius:0;box-shadow:none;cursor:pointer;}
#btndelete1{background:url(Images/trash16x16.png) no-repeat;}
#btnrefresh1{background:url(Images/refresh16x16.png) no-repeat;}
#btnselect1{background:url(Images/selectall16x16.png) no-repeat;}


.k-dropzone{padding:0px !important;}
.k-button{border-radius:0px !important;}
.k-upload-button input{border-radius:0px !important;}

.noaccordion{}
.noaccordion .framecontentTitle{background-image:none;}
.noaccordion .frameContainer{display:block !important;}
.frameContainer table{table-layout:auto;}
.frameContainer table thead tr td{background-color:#BABABA;font-weight:bold;color:#fff;text-indent:10px;}


.splitter{width:100%;border-top:1px dashed #333;clear:both;margin:0px 0 20px 0;}

#textContainers{}
#textContainers p{color:#0a8c00;font-weight:bold;/*background-color:#ceeef7;padding:5px;*/}


.ui-dialog-titlebar-close {
   background: url(/Content/Images/dialog_close.jpg); /* shows image */
    background-repeat: no-repeat;
    border: 0px;
    margin: 14px 8px 0 0;
    cursor: pointer;
    top: 25px;
    position: relative;
    z-index: 2000000;
    text-indent: -9999px; /* sends the text off-screen */
     height: 21px;
    width: 20px;
    white-space: nowrap;
    border-radius: 22px;
    outline:none;
    left:569px;
}

.help {
   background: url(/Content/Images/help.jpg); /* shows image */
    background-repeat: no-repeat;
    border: 0px;  
    cursor: pointer;  
    position: relative;
    z-index: 2000000;
    text-indent: -9999px; /* sends the text off-screen */   
    white-space: nowrap;   
    outline:none;
    width: 17px;
    height: 16px;
    margin-top: -15px;
   
}



.activate {
   background: url(/Content/Images/false.jpg) !important; /* shows image */
    background-repeat: no-repeat !important;
    border: 1px;
    position:absolute;
    margin: 0px 0px 0 0 !important;
    cursor: pointer; 
    z-index: 2000000 !important;
    text-indent: -9999px; /* sends the text off-screen */
     height: 21px !important;
    width: 40px !important;
    white-space: nowrap;
    border-radius: 22px;
    outline:none;    
}
.deactivate {
   background: url(/Content/Images/true.jpg) !important; /* shows image */
    background-repeat: no-repeat !important;
    border: 1px;
    position:absolute;
    margin: 0px 0px 0 0 !important;
    cursor: pointer;
    z-index: 2000000 !important;
    text-indent: -9999px; /* sends the text off-screen */
     height: 21px !important;
    width: 40px !important;
    white-space: nowrap;
    border-radius: 22px;
    outline:none;    
}
.ui-dialog.ui-widget.ui-widget-content{background-color:transparent !important;left:424px !important;width:37% !important;top:-790px !important;}


.registration{padding:20px;display:inline-block;width:100%;}
.registration h2{color:green !important;font-weight:bold;font-size:16px;}


.welcomeAccordion{float:right;width:420px;}
.welcomeAccordion .frameContainer{margin:0 0 10px 0;padding:10px 0;float:left;}
.welcomeAccordion .framecontentTitle{padding:0 !important;background-position:100% 11px !important;border:0;margin:0px 0 3px 0 !important; height:auto !important;background-color:#ececec;padding:9px 0px 9px 5px !important;}
.welcomeAccordion .framecontentTitle h4{font-size:14px !important;margin:0px;padding:0px;height:auto;}
.welcomeAccordion .framecontentTitle.active h4{color:#10C8FE;}


.widh100{width:140px;margin-bottom:6px;}
.displayOn{display:block !important;}
.displayOff{display:none;}
.padding{padding:10px;}


.doctorSearchbeforeLogin{float:left;width:100%;}
.doctorSearchbeforeLogin .left{float:left;margin-right:20px;}
.doctorSearchbeforeLogin #map_canvas{width:100%;clear:both;height:400px;border:1px solid #999;margin:10px 0;}
.doctorSearchbeforeLogin input{width:auto !important;}
.doctorSearchbeforeLogin .editor-label{margin-bottom:8px;}
.doctorSearchbeforeLogin .editor-field{margin-bottom:8px;}

.doctorTablebeforeLogin .docTable{width:100%;clear:both;margin:10px 0;float:left;}
.doctorTablebeforeLogin .docTable tbody tr td{background-color:#D1D1D1;}
.doctorTablebeforeLogin #netflixTable{width:100% !important;clear:both !important;}
.doctorTablebeforeLogin #example{clear:both !important;}
.doctorTablebeforeLogin .k-grid-content{clear:both !important;}
.doctorTablebeforeLogin table tr:nth-child(2n) {background-color:#EEEEEE;}

.annonymusDocInfo{}
.annonymusDocInfo .messagetoUser{float:left;position:relative;right:0;background:url(/Content/Images/doccare_sprite.png) no-repeat -529px -300px;width:251px;height:281px;margin: -50px 165px 0 ;}
.annonymusDocInfo .messagetoUser .padding{margin:70px 30px 0 30px;float:left;padding:0;}
.annonymusDocInfo .messagetoUser .padding .btnClass{margin:10px 5px 0 0;float:left;padding:8px 20px;width:78%;}
.annonymusDocInfo .messagetoUser h3{float:left;width:100%;font-size:18px;margin:-8px 0 9px 0;}
.annonymusDocInfo .docClinic{margin:30px 0 0 0;}
.annonymusDocInfo .middleContent{width:400px;}
.annonymusDocInfo .middleContent .display-label{width:137px !important;}
.annonymusDocInfo .middleContent .display-field{width:259px !important; }
.annonymusDocInfo .lastContent{width:343px;}
.annonymusDocInfo .lastContent .display-label{width:184px !important;}
.annonymusDocInfo .lastContent .display-field{width:147px !important; }
.annonymusDocInfo .profileMyReviews{float:left;margin:0 20px 0 0;}
.annonymusDocInfo .myReviews .leftContent{width:800px;}
.annonymusDocInfo .myReviews .leftContent .display-label{width:200px;}
.annonymusDocInfo .myReviews .leftContent .display-field{width:400px;float:left;}
.annonymusDocInfo .docInfoDetails{width:955px !important;}
.annonymusDocInfoTab ul li{padding:8px 35px !important;}
.annonymusDocInfo .framecontentTitle{display:none;}
.annonymusDocInfo .docClinic{margin-top:0;}
.annonymusDocInfo .myReviews{margin-bottom:15px;}
.annonymusDocInfo .myReviews .display-field{width:320px !important;}
.annonymusDocInfo .myReviews .lastContent .display-field{width:159px !important;}



.myReviews .profileMyReviews{float:left;margin:0 20px 0 0;}
.myReviews .leftContent{width:600px;}
.myReviews .leftContent .display-label{width:200px;}
.myReviews .leftContent .display-field{width:400px;float:left;}


/*.display-label,.editor-label{color:#0B5984 !important;font-weight:bold !important;font-size:14px !important;}
.display-field{font-size:14px !important;}*/


/*h1.subTitle{border-bottom:1px dashed #999;font-size:15px;margin:8px 0;width:100%;display:inline-block;padding:4px 0;}*/
.customToggleCollapse{cursor:pointer;background: url(/Content/Images/collapse.png) no-repeat right -1px;width:20px;height:20px;float:right;}
.customToggleExpand{cursor:pointer;background: url(/Content/Images/expand.png) no-repeat right -1px;width:20px;height:20px;float:right;}
.customAccordionContent{float:left;margin:10px 0;width:100%;}

a.toggle{float:left;margin:3px 15px 0 0;}
.toggleRight{float:right;}



.doctorProfileEdit .customToggleCollapse{cursor:pointer;background: url(/Content/Images/collapse.png) no-repeat right 4px;width:20px;height:20px;float:right;}
.doctorProfileEdit .customToggleExpand{cursor:pointer;background: url(/Content/Images/expand.png) no-repeat right -1px;width:20px;height:20px;float:right;}











.pagetTitle{background-color:#1072B5;padding:6px 3px;width:783px;display:inline-block;/*box-shadow:1px 0 2px 1px #999;*/position:relative;z-index:999;}
.pagetTitle h3{font-weight:normal;margin:3px 0 0 3px;color:#fff;font-size:25px;float:left;}
.pageIcon{width:35px;height:35px;float:left;margin:0 10px 0px 0;position:relative;}
.pageIcon.healHistory{background:url(/Content/Images/doccare_sprite.png) no-repeat -97px -24px;}
.pageIcon.myProfile{background:url(/Content/Images/doccare_sprite.png) no-repeat -274px -26px;}
.pageIcon.message{background:url(/Content/Images/doccare_sprite.png) no-repeat -133px -24px;margin-left:5px;}
.pageIcon.profiderSearch{background:url(/Content/Images/doccare_sprite.png) no-repeat -170px -24px;}
.pageIcon.appointments{background:url(/Content/Images/doccare_sprite.png) no-repeat -242px -24px;margin:0 5px;}
.pageIcon.myAccounts{background:url(/Content/Images/doccare_sprite.png) no-repeat -207px -24px;margin-left:5px;}
.pageIcon.myInfo{background:url(/Content/Images/doccare_sprite.png) no-repeat -308px -25px;margin-left:5px;}
.pageIcon.proPicture{background:url(/Content/Images/doccare_sprite.png) no-repeat -348px -25px;margin-left:5px;}
.pageIcon.contact{background:url(/Content/Images/doccare_sprite.png) no-repeat -385px -25px;margin-left:5px;}
.pageIcon.inbox{background:url(/Content/Images/doccare_sprite.png) no-repeat -423px -25px;margin-left:5px;width:40px;}
.pageIcon.sentItems{background:url(/Content/Images/doccare_sprite.png) no-repeat -464px -25px;margin-left:5px;width:40px;}
.pageIcon.appointmentFailure{background:url(/Content/Images/doccare_sprite.png) no-repeat -579px -25px;margin-left:5px;width:30px;}
.pageIcon.publicProfile{background:url(/Content/Images/doccare_sprite.png) no-repeat -621px -25px;margin-left:5px !important;width:30px;}
.pageIcon.reports{background:url(/Content/Images/doccare_sprite.png) no-repeat -690px -25px;margin-left:5px !important;width:25px;}
.pageIcon.editDocInfo{background:url(/Content/Images/doccare_sprite.png) no-repeat -658px -25px;margin-left:0px !important;width:25px;}
.pageIcon.docInfoViews{background:url(/Content/Images/doccare_sprite.png) no-repeat -690px -25px;margin-left:5px !important;width:30px;}
.pageIcon.docAvailable{background:url(/Content/Images/doccare_sprite.png) no-repeat -758px -25px;margin-left:5px !important;width:30px;}
.pageIcon.clinicPhoto{background:url(/Content/Images/doccare_sprite.png) no-repeat -104px -59px;margin-left:5px !important;width:30px;}
.pageIcon.compose{background:url(/Content/Images/doccare_sprite.png) no-repeat -142px -59px;margin-left:5px !important;width:40px;}
.pageIcon.video{background:url(/Content/Images/doccare_sprite.png) no-repeat -192px -59px;margin-left:5px !important;width:40px;}




.doctorModule{}
.doctorModule .rightColumnContent{width:789px !important;margin-right:0px !important;}
.doctorModule .rightColumnContent section{margin:0px !important;}
.doctorModule.wider .rightColumnContent{width:960px !important;}
.doctorModule.wider .pagetTitle{width:953px !important;}
.doctorModule.wider .pageIcon{margin-left:25px !important;}
.doctorModule .leftMenu #cssmenu li a{padding:7% 3% !important;}
.doctorModule .leftMenu #cssmenu li ul li a{padding:1px 2px !important;}
.doctorModule .leftMenu #cssmenu li ul li a:hover{color:#1072B5 !important;}


.ReplyMessage .btnClass{width:auto;}

.uploadClass{float:left;margin:15px 0 10px 10px;width:99%;}

.uploadClass .k-upload-button{border-radius:0px !important;background-color:transparent !important;border:0px !important;background:url(/Content/Images/attach.png) no-repeat;width:24px;height:24px;text-indent:-999px;margin:-7px 0 0 -7px;}



/*#overlayContainer{background-color:#000;opacity:0.3;width:100%;height:100%;position:absolute;left:0;top:0;z-index:9999999;}*/

/*.closeDisplayBar{float:right;margin:20px 10px 0 0;background:url(/Content/Images/doccare_sprite.png) no-repeat -230px -59px;width:40px;height:40px;cursor:pointer;}*/



/*.wc-time-slots tr:first-child td{display:none !important;}*/

/*.k-grid-header table, .k-grid-content table, .k-grid-footer table{table-layout:fixed !important;}
.doc_app_tit {
background:#1072B5;
color:#fff;
font-size:16px;
font-weight:bold;
margin-left:-5px;
padding-left:10px;
width:99.39%;
}*/
 .doc_app_tit:hover {
 background:#1072B5;

    }
#PasswordStrengthBar {
    margin-top:-33px !important;
    z-index:10000;
    top: 0px !important;
    left: 300px !important;
}

 #msgtext {
   left: 305.5px !important;
    top: 0px !important;
}
.collapse{position:absolute;float:left;z-index:9999;background:url(/Content/Images/doccare_sprite.png) no-repeat -272px -64px;width:25px;height:25px;margin:11px 5px 0 -20px;cursor:pointer;}
.expand{position:absolute;float:left;z-index:9999;background:url(/Content/Images/doccare_sprite.png) no-repeat -292px -64px;width:25px;height:25px;margin:11px 5px 0 -6px;cursor:pointer;}