/* Starter CSS for Flyout Menu */
#cssmenu {
    padding: 0;
    margin: 0;
    border: 0;
}

    #cssmenu ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #cssmenu ul {
        position: relative;
        z-index: 597;
        float: left;
    }

        #cssmenu ul li {
            float: left;
            min-height: 1px;
            line-height: 1em;
            vertical-align: middle;
        }

            #cssmenu ul li.hover,
            #cssmenu ul li:hover {
            }

        #cssmenu ul ul {
        }

            #cssmenu ul ul li {
                float: none;
            }

        #cssmenu ul li:hover > ul {
        }

        #cssmenu ul ul {
        }

        #cssmenu ul li {
            float: none;
            border-bottom: 0px solid #cfcfcf;
        }

            #cssmenu ul li ul li {
                border-bottom: 0px solid #cfcfcf;
                padding: 6px 0 0 0 !important;
            }

            #cssmenu ul li a {
                cursor: pointer;
            }

            #cssmenu ul li ul li a {
                font-weight: normal;
                display: list-item;
                list-style: disc;
                padding: 0px 0px 0 0px !important;
                margin-left: 20px;
            }

                #cssmenu ul li ul li a.active {
                    color: #1072B5 !important;
                }

/* Custom Stuff */
#cssmenu {
    width: 100%;
}

    #cssmenu span, #cssmenu a {
        display: inline-block;
        font-size: 13px;
        text-decoration: none;
    }

    #cssmenu:after, #cssmenu ul:after {
    }

    #cssmenu > ul > li:first-child {
    }

    #cssmenu > ul > li:last-child {
    }

    #cssmenu > ul > li ul ul {
    }

    #cssmenu ul, #cssmenu li {
        width: 100%;
    }

    #cssmenu li {
    }

        #cssmenu li:hover {
        }

    #cssmenu a {
        color: #666666;
        line-height: 160%;
        padding: 5px 12px;
        width: 160px !important;
    }

    #cssmenu ul ul {
    }

        #cssmenu ul ul li {
        }

            #cssmenu ul ul li:hover {
            }

                #cssmenu ul ul li:hover a {
                }

            #cssmenu ul ul li ul li {
            }

                #cssmenu ul ul li ul li:hover {
                }

    #cssmenu .has-sub {
    }

        #cssmenu .has-sub:after, #cssmenu .has-sub > ul > .has-sub:hover:after {
        }

        #cssmenu .has-sub > ul > .has-sub:after, #cssmenu .has-sub:hover:after {
        }

.selected{background-color:#62b4fd;color:#fff;box-shadow:-4px 0 3px -1px #999999 inset;}
.selected b{color:#fff;}