USE [DOCCAREONLINE]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[UserName] [nvarchar](100) NOT NULL,
	[REGISTEREDON] [datetime] NULL,
	[Salutation] [nvarchar](10) NULL,
	[FIRSTNAME] [nvarchar](100) NULL,
	[LASTNAME] [nvarchar](100) NULL,
	[GENDER] [nvarchar](10) NULL,
	[DOB] [datetime] NULL,
	[USERSTREETADDRESS1] [nvarchar](250) NULL,
	[USERSTREETADDRESS2] [nvarchar](250) NULL,
	[CITY] [nvarchar](50) NULL,
	[COUNTRY] [nvarchar](max) NULL,
	[USERSTATE] [nvarchar](max) NULL,
	[ZIPCODE] [nvarchar](max) NULL,
	[USERTYPE] [nvarchar](100) NULL,
	[USERPHOTOFILEPATH] [nvarchar](256) NULL,
	[STATUS] [nvarchar](100) NULL,
	[SECURITYQESTID1] [nvarchar](100) NULL,
	[SECURITYQESTID2] [nvarchar](100) NULL,
	[ANSWER1] [nvarchar](100) NULL,
	[ANSWER2] [nvarchar](100) NULL,
	[AGREETERMS] [bit] NULL,
	[CREATEDBY] [nvarchar](100) NULL,
	[MODIFIEDBY] [nvarchar](100) NULL,
	[MODIFIEDON] [datetime] NULL,
	[VERIFICATIONCODE] [int] NULL,
	[PASSWORDHASH] [varbinary](64) NULL,
	[PASSWORDSALT] [varbinary](128) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](200) NULL,
	[IsApproved] [bit] NOT NULL,
	[DateCreated] [datetime] NULL,
	[DateLastLogin] [datetime] NULL,
	[DateLastActivity] [datetime] NULL,
	[DateLastPasswordChange] [datetime] NULL,
	[AverageRating] [decimal](18, 2) NULL,
	[CurrenttimeZone] [nvarchar](max) NULL,
	[HITCOUNT] [char](10) NULL,
	[IsfirstLogin] [char](10) NULL,
	[PAYPALEMAIL] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.USERS] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EVENTLISTENERCLASSES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVENTLISTENERCLASSES](
	[CLASSID] [int] IDENTITY(1,1) NOT NULL,
	[CLASSNAME] [varchar](255) NOT NULL,
	[ASSEMBLYNAME] [varchar](255) NOT NULL,
	[ASSEMBLYPATH] [varchar](255) NOT NULL,
	[INTERVALHOURS] [int] NOT NULL,
	[INTERVALMINUTES] [int] NOT NULL,
	[INTERVALSECONDS] [int] NOT NULL,
	[RUNONSTART] [bit] NOT NULL,
	[STARTTIME] [varchar](50) NULL,
	[DATEADDED] [datetime] NOT NULL,
	[ISDELETED] [bit] NOT NULL,
	[DATEDELETED] [datetime] NULL,
 CONSTRAINT [PK_EVENTLISTENERCLASSES] PRIMARY KEY CLUSTERED 
(
	[CLASSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOCATIONS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATIONS](
	[LOCID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOCLEVEL] [int] NOT NULL,
	[LOCTYPEVID] [int] NOT NULL,
	[PARENTLOCID] [bigint] NOT NULL,
	[LOCDESCRIPTION] [nvarchar](max) NULL,
	[LOCDZIPCODE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LOCATIONS] PRIMARY KEY CLUSTERED 
(
	[LOCID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTMASTERS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTMASTERS](
	[LISTID] [bigint] IDENTITY(1,1) NOT NULL,
	[LISTCODE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LISTMASTERS] PRIMARY KEY CLUSTERED 
(
	[LISTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANGUAGES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANGUAGES](
	[LANGUAGEKEYID] [nvarchar](128) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
 CONSTRAINT [PK_dbo.LANGUAGES] PRIMARY KEY CLUSTERED 
(
	[LANGUAGEKEYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJECTTYPES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OBJECTTYPES](
	[OBJECTTYPEID] [int] NOT NULL,
	[OBJECTTYPE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OBJECTTYPES] PRIMARY KEY CLUSTERED 
(
	[OBJECTTYPEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MESSAGES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGES](
	[MESSAGEID] [bigint] IDENTITY(1,1) NOT NULL,
	[MESSAGESUBJECT] [nvarchar](max) NULL,
	[SENDDATE] [datetime] NOT NULL,
	[MESSAGEBODY] [nvarchar](max) NULL,
	[MESSAGETYPE] [nvarchar](max) NULL,
	[MESSAGESTATUS] [nvarchar](max) NULL,
	[SENDBY] [nvarchar](max) NULL,
	[SENDMESSAGETO] [nvarchar](max) NULL,
	[SENDMESSAGEFROM] [nvarchar](max) NULL,
	[SENDMESSAGEBCC] [nvarchar](max) NULL,
	[SENDMESSAGECC] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[MESSAGESTATUSFROM] [nvarchar](max) NULL,
	[MESSAGESTATUSTO] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MESSAGES] PRIMARY KEY CLUSTERED 
(
	[MESSAGEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLICIES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLICIES](
	[POLICYID] [bigint] IDENTITY(1,1) NOT NULL,
	[POLICYCODE] [nvarchar](max) NULL,
	[POLICYVALUE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.POLICIES] PRIMARY KEY CLUSTERED 
(
	[POLICYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTATTACHMENTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCUMENTATTACHMENTS](
	[ATTACHMENTID] [bigint] IDENTITY(1,1) NOT NULL,
	[ATTACHMENT] [varbinary](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[FILENAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DOCUMENTATTACHMENTS] PRIMARY KEY CLUSTERED 
(
	[ATTACHMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHATSESSIONS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHATSESSIONS](
	[CHATSESSIONID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER1] [nvarchar](max) NULL,
	[USER2] [nvarchar](max) NULL,
	[ROOMCODE] [nvarchar](max) NULL,
	[DURATION] [int] NULL,
	[ROOMSTATUS] [nvarchar](max) NULL,
	[STARTTIME] [datetime] NULL,
 CONSTRAINT [PK_dbo.CHATSESSIONS] PRIMARY KEY CLUSTERED 
(
	[CHATSESSIONID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHATMESSAGES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHATMESSAGES](
	[MESSAGEID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCTORID] [nvarchar](50) NULL,
	[PATIENTID] [nvarchar](50) NULL,
	[CHATTEXT] [nvarchar](max) NULL,
	[TIMESTAMP] [datetime] NOT NULL,
	[COLOR] [nvarchar](50) NULL,
	[MESSAGEFROM] [nvarchar](50) NULL,
	[APPOINTMENTID] [bigint] NULL,
 CONSTRAINT [PK_dbo.CHATMESSAGES] PRIMARY KEY CLUSTERED 
(
	[MESSAGEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleName] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECURITIES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECURITIES](
	[SECURITYID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODULENAME] [nvarchar](max) NULL,
	[ACTIONNAME] [nvarchar](max) NULL,
	[ISALLOWED] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SECURITIES] PRIMARY KEY CLUSTERED 
(
	[SECURITYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORDINGS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORDINGS](
	[WORDINGID] [bigint] IDENTITY(1,1) NOT NULL,
	[WORDKINGTYPE] [nvarchar](max) NULL,
	[WORDINGDESC] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.WORDINGS] PRIMARY KEY CLUSTERED 
(
	[WORDINGID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALLERGIES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLERGIES](
	[ALLERGYID] [int] IDENTITY(1,1) NOT NULL,
	[ALLERGYREPORTNAME] [nvarchar](100) NULL,
	[ALLERGYFILEPATH] [nvarchar](max) NULL,
	[COMMENT] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[REPORTSTATUS] [nvarchar](max) NULL,
	[DOCTORREPORTSTATUS] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.ALLERGIES] PRIMARY KEY CLUSTERED 
(
	[ALLERGYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERSLANGUAGES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERSLANGUAGES](
	[USERLANGUAGEID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[LANGUAGEKEYID] [nvarchar](128) NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.USERSLANGUAGES] PRIMARY KEY CLUSTERED 
(
	[USERLANGUAGEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleUSERSINFORMATIONs]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUSERSINFORMATIONs](
	[Role_RoleName] [nvarchar](100) NOT NULL,
	[USERSINFORMATION_UserName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.RoleUSERSINFORMATIONs] PRIMARY KEY CLUSTERED 
(
	[Role_RoleName] ASC,
	[USERSINFORMATION_UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECENTSEARCHS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECENTSEARCHS](
	[SEARCHID] [bigint] IDENTITY(1,1) NOT NULL,
	[SEARCHNAME] [nvarchar](max) NULL,
	[SEARCHFILTER] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.RECENTSEARCHS] PRIMARY KEY CLUSTERED 
(
	[SEARCHID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPOINTMENTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENTS](
	[APPOINTMENTID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCTORID] [nvarchar](max) NULL,
	[PATIENTID] [nvarchar](100) NULL,
	[STATUS] [nvarchar](max) NULL,
	[ISEXISITING] [nvarchar](max) NULL,
	[BOOKEDON] [datetime] NOT NULL,
	[REASONFORVISIT] [nvarchar](max) NULL,
	[APPOINTMENTSTARTTIME] [datetime] NULL,
	[APPOINTMENTENDTIME] [datetime] NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[STATUSID] [bigint] NULL,
	[PAYMENTSTATUSID] [bigint] NULL,
	[PAYKEY] [nvarchar](max) NULL,
	[PAYAMOUNT] [decimal](18, 2) NULL,
	[REFUNDAMOUNT] [decimal](18, 2) NULL,
	[PROVIDERINITIALS] [nvarchar](max) NULL,
	[PATEINTINITIALS] [nvarchar](max) NULL,
	[CHATSESSIONID] [bigint] NULL,
	[VIDEOSESSIONID] [nvarchar](max) NULL,
	[ISVIDEOACTIVE] [bit] NULL,
	[LAPSEDMINUTES] [int] NULL,
	[SHOWTIMER] [bit] NULL,
	[DOCTORSLOTID] [bigint] NULL,
	[uploadreport] [bit] NULL,
	[medicaladviceDoctor] [bit] NULL,
	[termsOfUseDoctor] [bit] NULL,
	[releaseStatementDoctor] [bit] NULL,
	[termsOfUse] [bit] NULL,
	[realeaseStatement] [bit] NULL,
	[patientintials] [nvarchar](50) NULL,
	[doctorintials] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.APPOINTMENTS] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTORAVAILABILITIES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTORAVAILABILITIES](
	[AVAILABILITYID] [bigint] IDENTITY(1,1) NOT NULL,
	[STARTTIME] [datetime] NOT NULL,
	[ENDTIME] [datetime] NOT NULL,
	[DURATION] [int] NOT NULL,
	[STARTDATE] [datetime] NOT NULL,
	[ENDDATE] [datetime] NOT NULL,
	[PATTERN] [nvarchar](max) NULL,
	[TYPE] [nvarchar](max) NULL,
	[WORKINGDAYS] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.DOCTORAVAILABILITIES] PRIMARY KEY CLUSTERED 
(
	[AVAILABILITYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCSUBSCRIPTIONS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCSUBSCRIPTIONS](
	[DOCSUBSCRIPTIONID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaxNumberOfPayments] [int] NULL,
	[StartingDate] [datetime] NOT NULL,
	[PinType] [nvarchar](max) NULL,
	[MaxAmountPerPayment] [decimal](18, 2) NULL,
	[CurrencyCode] [nvarchar](max) NULL,
	[SenderEmail] [nvarchar](max) NULL,
	[VerifySign] [nvarchar](max) NULL,
	[TestIpn] [nvarchar](max) NULL,
	[DateOfMonth] [int] NULL,
	[CurrentNumberOfPayments] [int] NULL,
	[PreapprovalKey] [nvarchar](max) NULL,
	[EndingDate] [datetime] NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[TransactionType] [nvarchar](max) NULL,
	[DayOfWeek] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[CurrentTotalAmountOfAllPayments] [decimal](18, 2) NULL,
	[CurrentPeriodAttempts] [int] NULL,
	[Charset] [nvarchar](max) NULL,
	[PaymentPeriod] [nvarchar](max) NULL,
	[NotifyVersion] [nvarchar](max) NULL,
	[MaxTotalAmountOfAllPayments] [decimal](18, 2) NULL,
	[ERRORDETAILS] [nvarchar](max) NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.DOCSUBSCRIPTIONS] PRIMARY KEY CLUSTERED 
(
	[DOCSUBSCRIPTIONID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCPAYMENTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCPAYMENTS](
	[DOCPAYMENTID] [bigint] IDENTITY(1,1) NOT NULL,
	[PAYMENTREQUESTDATE] [datetime] NULL,
	[FEESPAYER] [nvarchar](100) NULL,
	[SENDEREMAIL] [nvarchar](100) NULL,
	[VERIFYSIGN] [nvarchar](100) NULL,
	[TESTIPN] [nvarchar](100) NULL,
	[TRANSACTIONIDFORSENDERTXN] [nvarchar](100) NULL,
	[TRANSACTIONRECEIVER] [nvarchar](100) NULL,
	[TRANSACTIONISPRIMARYRECEIVER] [nvarchar](100) NULL,
	[PAYKEY] [nvarchar](100) NULL,
	[ACTIONTYPE] [nvarchar](100) NULL,
	[TRANSACTIONID] [nvarchar](100) NULL,
	[TRANSACTIONSTATUS] [nvarchar](100) NULL,
	[TRANSACTIONPAYMENTTYPE] [nvarchar](100) NULL,
	[TRANSACTIONSTATUSFORSENDERTXN] [nvarchar](100) NULL,
	[TRANSACTIONPENDINGREASON] [nvarchar](100) NULL,
	[TRANSACTIONTYPE] [nvarchar](100) NULL,
	[TRANSACTIONAMOUNT] [decimal](18, 0) NULL,
	[REVERSEALLPARALLELPAYMENTSONERROR] [nvarchar](100) NULL,
	[STARTDATE] [nvarchar](100) NULL,
	[ENDDATE] [nvarchar](100) NULL,
	[CURRENCYCODE] [nvarchar](20) NULL,
	[MAXAMOUNTPERPAYMENT] [decimal](18, 0) NULL,
	[MAXNUMBEROFPAYMENTSPERPERIOD] [int] NULL,
	[MAXTOTALAMOUNTOFALLPAYMENTS] [int] NULL,
	[STATUS] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
	[MODIFIEDON] [datetime] NULL,
	[CREATEDBY] [bigint] NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[ERRORDETAILS] [nvarchar](max) NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.DOCPAYMENTS] PRIMARY KEY CLUSTERED 
(
	[DOCPAYMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHATHISTORYS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHATHISTORYS](
	[CHATHISTORYID] [bigint] IDENTITY(1,1) NOT NULL,
	[HISTORY] [nvarchar](max) NULL,
	[CHATSESSIONID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.CHATHISTORYS] PRIMARY KEY CLUSTERED 
(
	[CHATHISTORYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVENTS](
	[EVENTID] [int] IDENTITY(1,1) NOT NULL,
	[OBJECTTYPEID] [int] NOT NULL,
	[EVENTDESCRIPTION] [varchar](50) NOT NULL,
	[DATEADDED] [datetime] NOT NULL,
	[ISDELETED] [bit] NOT NULL,
	[DATEDELETED] [datetime] NULL,
	[DISPLAYDESCRIPTION] [varchar](250) NULL,
	[ISPRIVATE] [bit] NOT NULL,
 CONSTRAINT [PK_EVENTS] PRIMARY KEY CLUSTERED 
(
	[EVENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EVENTLISTENERS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVENTLISTENERS](
	[EVENTLISTENERID] [int] IDENTITY(1,1) NOT NULL,
	[EVENTLISTENERDESC] [varchar](50) NOT NULL,
	[EVENTLISTENERCLASSID] [int] NOT NULL,
	[DATEADDED] [datetime] NOT NULL,
	[ISDELETED] [bit] NOT NULL,
	[DATEDELETED] [datetime] NULL,
 CONSTRAINT [PK_EVENTLISTENERS] PRIMARY KEY CLUSTERED 
(
	[EVENTLISTENERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ATTACHMENTLINKS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTACHMENTLINKS](
	[ATTACHMENTLINKID] [bigint] IDENTITY(1,1) NOT NULL,
	[LINKTYPE] [nvarchar](max) NULL,
	[LINKTYPEID] [bigint] NOT NULL,
	[ATTACHMENTID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.ATTACHMENTLINKS] PRIMARY KEY CLUSTERED 
(
	[ATTACHMENTLINKID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTORSINFORMATIONS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTORSINFORMATIONS](
	[DOCTORID] [int] IDENTITY(1,1) NOT NULL,
	[PRACTICENAME] [nvarchar](max) NULL,
	[SUFFIX] [nvarchar](max) NULL,
	[LICENSE] [nvarchar](max) NULL,
	[STATELICENSE] [nvarchar](max) NULL,
	[PRACTISESINCE] [datetime] NULL,
	[ABOUTME] [nvarchar](max) NULL,
	[WEBSITE] [nvarchar](max) NULL,
	[EDUCATIONALQUAL] [nvarchar](max) NULL,
	[AWARDCERTIFICATION] [nvarchar](max) NULL,
	[PRESCRIBEELECTRONICALLY] [nvarchar](max) NULL,
	[PAYPALID] [nvarchar](max) NULL,
	[ISSUBSCRIBED] [nvarchar](max) NULL,
	[LICENSEEXPIRESON] [datetime] NULL,
	[PAYPALEMAIL] [nvarchar](max) NULL,
	[MEDICALSCHOOL] [nvarchar](max) NULL,
	[RESIDENCY] [nvarchar](max) NULL,
	[HOSPITALAFFILIATION] [nvarchar](max) NULL,
	[LICENSEDIN] [nvarchar](max) NULL,
	[CERTIFICATIONBOARD] [nvarchar](max) NULL,
	[PROFESSIONALMEMBERSHIP] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[UserName] [nvarchar](100) NULL,
	[MODIFIEDON] [datetime] NULL,
 CONSTRAINT [PK_dbo.DOCTORSINFORMATIONS] PRIMARY KEY CLUSTERED 
(
	[DOCTORID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTORPAYRATES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTORPAYRATES](
	[DOCTORPAYRATEID] [bigint] IDENTITY(1,1) NOT NULL,
	[DURATION] [int] NOT NULL,
	[RATE] [int] NOT NULL,
	[ACTIVEFROM] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.DOCTORPAYRATES] PRIMARY KEY CLUSTERED 
(
	[DOCTORPAYRATEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTORWORKINGINSTITUIONS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTORWORKINGINSTITUIONS](
	[WORKINGINSTITUIONID] [bigint] IDENTITY(1,1) NOT NULL,
	[STREETADDRESS1] [nvarchar](max) NULL,
	[STREETADDRESS2] [nvarchar](max) NULL,
	[CLINICUSERSTATE] [nvarchar](max) NULL,
	[MAPPINGADDRESS] [nvarchar](max) NULL,
	[CLINICZIPCODE] [nvarchar](max) NULL,
	[CLINICCITY] [nvarchar](max) NULL,
	[TELEPHONE] [nvarchar](20) NULL,
	[INSTITUTIONNAME] [nvarchar](max) NULL,
	[INSTITUTIONIMAGEPATH] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
	[CONTACTPERSON] [nvarchar](max) NULL,
	[CONTACTMAILID] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DOCTORWORKINGINSTITUIONS] PRIMARY KEY CLUSTERED 
(
	[WORKINGINSTITUIONID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTORSTATUS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTORSTATUS](
	[DOCTORSTATUSID] [int] IDENTITY(1,1) NOT NULL,
	[LICENSEEXPIRYDATE] [datetime] NULL,
	[STATUS] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.DOCTORSTATUS] PRIMARY KEY CLUSTERED 
(
	[DOCTORSTATUSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTORSPECIALITIES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTORSPECIALITIES](
	[SPECIALITYID] [int] IDENTITY(1,1) NOT NULL,
	[SPECIALITY] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.DOCTORSPECIALITIES] PRIMARY KEY CLUSTERED 
(
	[SPECIALITYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROCEDURES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCEDURES](
	[PROCEDUREID] [int] IDENTITY(1,1) NOT NULL,
	[PROCEDUREREPORTNAME] [nvarchar](100) NULL,
	[PROCEDUREDATE] [datetime] NULL,
	[PROCEDURENOTES] [nvarchar](max) NULL,
	[COMMENT] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[REPORTSTATUS] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.PROCEDURES] PRIMARY KEY CLUSTERED 
(
	[PROCEDUREID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERREDDOCTORS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERREDDOCTORS](
	[PREFERREDDOCTORID] [int] IDENTITY(1,1) NOT NULL,
	[PREFERREDDATE] [datetime] NOT NULL,
	[STATUS] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[DOCTORID] [nvarchar](max) NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.PREFERREDDOCTORS] PRIMARY KEY CLUSTERED 
(
	[PREFERREDDOCTORID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENTREPORTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENTREPORTS](
	[PATIENTREPORTID] [bigint] IDENTITY(1,1) NOT NULL,
	[REPORTSTATUS] [nvarchar](max) NULL,
	[DOCTORREPORTSTATUS] [nvarchar](max) NULL,
	[REPORTNAME] [nvarchar](max) NULL,
	[NOTES] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[REPORTPATH] [nvarchar](max) NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.PATIENTREPORTS] PRIMARY KEY CLUSTERED 
(
	[PATIENTREPORTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENTINFORMATIONS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENTINFORMATIONS](
	[PATIENTID] [int] IDENTITY(1,1) NOT NULL,
	[POVEMAIL] [nvarchar](max) NULL,
	[IMAGEID] [bigint] NULL,
	[PATIENTTYPE] [nvarchar](max) NULL,
	[UserName] [nvarchar](100) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
 CONSTRAINT [PK_dbo.PATIENTINFORMATIONS] PRIMARY KEY CLUSTERED 
(
	[PATIENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICATIONS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICATIONS](
	[MEDICATIONID] [int] IDENTITY(1,1) NOT NULL,
	[MEDICATIONNAME] [nvarchar](max) NULL,
	[DOCTORID] [nvarchar](max) NULL,
	[PRESCRIBEDDATE] [datetime] NULL,
	[STOPPEDDATE] [datetime] NULL,
	[COMMENT] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[REPORTSTATUS] [nvarchar](max) NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.MEDICATIONS] PRIMARY KEY CLUSTERED 
(
	[MEDICATIONID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMMUNIZATIONS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMMUNIZATIONS](
	[IMMUNIZATIONID] [int] IDENTITY(1,1) NOT NULL,
	[IMMUNIZATIONNAME] [nvarchar](100) NULL,
	[IMMUNEDATE] [datetime] NULL,
	[REPORTSTATUS] [nvarchar](max) NULL,
	[COMMENT] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.IMMUNIZATIONS] PRIMARY KEY CLUSTERED 
(
	[IMMUNIZATIONID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTVALUES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTVALUES](
	[LISTVALUEID] [bigint] IDENTITY(1,1) NOT NULL,
	[VALUEKEY] [nvarchar](max) NULL,
	[VALUEDESCRIPTION] [nvarchar](max) NULL,
	[VALUEORDER] [int] NULL,
	[LISTID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.LISTVALUES] PRIMARY KEY CLUSTERED 
(
	[LISTVALUEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERPASSWORD]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERPASSWORD](
	[USERPASSWORDID] [bigint] IDENTITY(1,1) NOT NULL,
	[PASSWORDHASH] [varbinary](64) NULL,
	[PASSWORDSALT] [varbinary](128) NULL,
	[EXPIRYDATE] [datetime] NULL,
	[STATUS] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.USERPASSWORD] PRIMARY KEY CLUSTERED 
(
	[USERPASSWORDID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERLOGINS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERLOGINS](
	[USERLOGINID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOGINTIME] [datetime] NOT NULL,
	[LOGOUTTIME] [datetime] NULL,
	[STATUS] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.USERLOGINS] PRIMARY KEY CLUSTERED 
(
	[USERLOGINID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBSCRIPTIONS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBSCRIPTIONS](
	[SUBSCRIPTIONID] [bigint] IDENTITY(1,1) NOT NULL,
	[PAYPALSUBSCRID] [nvarchar](max) NULL,
	[TXNTYPE] [nvarchar](max) NULL,
	[SUBSCRDATE] [datetime] NULL,
	[PERIOD] [bigint] NULL,
	[CURRENCY] [nvarchar](max) NULL,
	[IPNTRACKID] [nvarchar](max) NULL,
	[AMOUNT] [decimal](18, 2) NULL,
	[RECEIVEREMAIL] [nvarchar](max) NULL,
	[PAYEREMAIL] [nvarchar](max) NULL,
	[PAYERID] [nvarchar](max) NULL,
	[STATUS] [nvarchar](max) NULL,
	[FIRSTNAME] [nvarchar](max) NULL,
	[LASTNAME] [nvarchar](max) NULL,
	[COUNTRY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
	[MODIFIEDON] [datetime] NULL,
	[CREATEDBY] [bigint] NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[TRIALDAYS] [nvarchar](max) NULL,
	[INSTALLMENTDURATION] [nvarchar](max) NULL,
	[ERRORDETAILS] [nvarchar](max) NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.SUBSCRIPTIONS] PRIMARY KEY CLUSTERED 
(
	[SUBSCRIPTIONID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBSCRIPTIONPAYMENTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBSCRIPTIONPAYMENTS](
	[SUBSCRIPTIONPAYMENTID] [bigint] IDENTITY(1,1) NOT NULL,
	[TransactionSubject] [nvarchar](max) NULL,
	[PaymentDate] [datetime] NOT NULL,
	[TxnType] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[ResidenceCountry] [nvarchar](max) NULL,
	[ItemName] [nvarchar](max) NULL,
	[PaymentGross] [decimal](18, 2) NULL,
	[McCurrency] [nvarchar](max) NULL,
	[Business] [nvarchar](max) NULL,
	[PaymentType] [nvarchar](max) NULL,
	[ProtectionEligibility] [nvarchar](max) NULL,
	[VerifySign] [nvarchar](max) NULL,
	[PayerStatus] [nvarchar](max) NULL,
	[TestIpn] [nvarchar](max) NULL,
	[Tax] [nvarchar](max) NULL,
	[PayerEmail] [nvarchar](max) NULL,
	[TxnId] [nvarchar](max) NULL,
	[Quantity] [int] NULL,
	[ReceiverEmail] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[PayerId] [nvarchar](max) NULL,
	[ReceiverId] [nvarchar](max) NULL,
	[ItemNumber] [nvarchar](max) NULL,
	[PaymentStatus] [nvarchar](max) NULL,
	[PaymentFee] [decimal](18, 2) NULL,
	[McFee] [decimal](18, 2) NULL,
	[McGross] [decimal](18, 2) NULL,
	[Custom] [nvarchar](max) NULL,
	[Charset] [nvarchar](max) NULL,
	[NotifyVersion] [nvarchar](max) NULL,
	[IpnTrackId] [nvarchar](max) NULL,
	[PendingReason] [nvarchar](max) NULL,
	[ERRORDETAILS] [nvarchar](max) NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.SUBSCRIPTIONPAYMENTS] PRIMARY KEY CLUSTERED 
(
	[SUBSCRIPTIONPAYMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBSCRIPTIONINSTALLMENTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBSCRIPTIONINSTALLMENTS](
	[INSTALLMENTID] [bigint] IDENTITY(1,1) NOT NULL,
	[PAYPALSUBSCRIPTIONID] [nvarchar](max) NULL,
	[RECEIVEREMAIL] [nvarchar](max) NULL,
	[RECEIVERID] [nvarchar](max) NULL,
	[PAYMENTSTATUS] [nvarchar](max) NULL,
	[TXNTYPE] [nvarchar](max) NULL,
	[TXNID] [nvarchar](max) NULL,
	[PAYMENTDATE] [datetime] NULL,
	[IPNTRACKID] [nvarchar](max) NULL,
	[CURRENCY] [nvarchar](max) NULL,
	[AMOUNT] [decimal](18, 2) NULL,
	[PAYEREMAIL] [nvarchar](max) NULL,
	[PAYERID] [nvarchar](max) NULL,
	[FIRSTNAME] [nvarchar](max) NULL,
	[LASTNAME] [nvarchar](max) NULL,
	[COUNTRY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
	[CREATEDBY] [bigint] NULL,
	[MODIFIEDON] [datetime] NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[PENDINGREASON] [nvarchar](max) NULL,
	[PAYMENTTYPE] [nvarchar](max) NULL,
	[ERRORDETAILS] [nvarchar](max) NULL,
	[SUBSCRIPTIONID] [bigint] NULL,
 CONSTRAINT [PK_dbo.SUBSCRIPTIONINSTALLMENTS] PRIMARY KEY CLUSTERED 
(
	[INSTALLMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTLISTENERATTRIBUTES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVENTLISTENERATTRIBUTES](
	[EVENTLISTENERATTRIBUTEID] [int] IDENTITY(1,1) NOT NULL,
	[EVENTLISTENERID] [int] NOT NULL,
	[ATTRIBUTENAME] [varchar](200) NOT NULL,
	[ATTRIBUTEVALUE] [varchar](8000) NOT NULL,
	[ISXML] [bit] NOT NULL,
	[DATEADDED] [datetime] NOT NULL,
	[ISDELETED] [bit] NOT NULL,
	[DATEDELETED] [datetime] NULL,
	[HTMLDECODE] [bit] NOT NULL,
 CONSTRAINT [PK_EVENTLISTENERATTRIBUTES] PRIMARY KEY CLUSTERED 
(
	[EVENTLISTENERATTRIBUTEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EVENTSUBSCRIPTIONS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTSUBSCRIPTIONS](
	[EVENTID] [int] NOT NULL,
	[EVENTLISTENERID] [int] NOT NULL,
	[DATEADDED] [datetime] NOT NULL,
	[ISDELETED] [bit] NOT NULL,
	[DATEDELETED] [datetime] NULL,
 CONSTRAINT [PK_EVENTSUBSCRIPTIONS] PRIMARY KEY CLUSTERED 
(
	[EVENTID] ASC,
	[EVENTLISTENERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTORSLOTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTORSLOTS](
	[DOCTORSLOTID] [bigint] IDENTITY(1,1) NOT NULL,
	[CALYEAR] [int] NOT NULL,
	[CALMONTH] [int] NOT NULL,
	[CALDATE] [int] NOT NULL,
	[FROMTIME] [datetime] NOT NULL,
	[TOTIME] [datetime] NOT NULL,
	[AVAILABILITYMODE] [nvarchar](max) NULL,
	[TIMEZONE] [nvarchar](max) NULL,
	[PAYRATE] [decimal](18, 2) NULL,
	[STATUS] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[SLOTDATE] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
	[DOCTORAVAILABILITY_AVAILABILITYID] [bigint] NULL,
 CONSTRAINT [PK_dbo.DOCTORSLOTS] PRIMARY KEY CLUSTERED 
(
	[DOCTORSLOTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTORNOTES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTORNOTES](
	[DOCTORNOTESID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOTES] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[APPOINTMENTID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.DOCTORNOTES] PRIMARY KEY CLUSTERED 
(
	[DOCTORNOTESID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPOINTMENTSLOTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENTSLOTS](
	[APPOINTMENTSLOTID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCTORCONFIRMEDSLOTID] [bigint] NOT NULL,
	[APPOINTMENTID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.APPOINTMENTSLOTS] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENTSLOTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANCELLEDAPPOINTMENTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANCELLEDAPPOINTMENTS](
	[CANCELLEDAPPOINTMENTID] [bigint] IDENTITY(1,1) NOT NULL,
	[REASONTOCANCEL] [nvarchar](max) NULL,
	[CANCELDATE] [datetime] NOT NULL,
	[CANCELFEE] [decimal](18, 2) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[APPOINTMENTID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.CANCELLEDAPPOINTMENTS] PRIMARY KEY CLUSTERED 
(
	[CANCELLEDAPPOINTMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPOINTMENTRATINGS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENTRATINGS](
	[APPOINTMENTRATINGID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCTORONTIME] [nvarchar](max) NULL,
	[COMMENT] [nvarchar](max) NULL,
	[CLIENTRATING] [decimal](18, 2) NULL,
	[DOCTORRATING] [decimal](18, 2) NULL,
	[RATINGDATE] [datetime] NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[APPOINTMENTID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.APPOINTMENTRATINGS] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENTRATINGID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPOINTMENTMESSAGES]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENTMESSAGES](
	[APPOINTMENTMESSAGEID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[APPOINTMENTID] [bigint] NOT NULL,
	[MESSAGEID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.APPOINTMENTMESSAGES] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENTMESSAGEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPOINTMENTFOLLOWUPS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENTFOLLOWUPS](
	[APPOINTMENTFOLLOWUPID] [bigint] IDENTITY(1,1) NOT NULL,
	[DIAGNOSIS] [nvarchar](max) NULL,
	[PRESCRIPTIONS] [nvarchar](max) NULL,
	[FOLLOWUP] [nvarchar](max) NULL,
	[DOCTORNOTES] [nvarchar](max) NULL,
	[PATIENTNOTES] [nvarchar](max) NULL,
	[CREATEDBY] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[MODIFIEDBY] [nvarchar](max) NULL,
	[MODIFIEDON] [datetime] NULL,
	[APPOINTMENTID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.APPOINTMENTFOLLOWUPS] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENTFOLLOWUPID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLISHEDEVENTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLISHEDEVENTS](
	[PUBLISHEDEVENTID] [int] IDENTITY(1,1) NOT NULL,
	[EVENTID] [int] NOT NULL,
	[EVENTDATE] [datetime] NOT NULL,
	[RECORDID] [int] NOT NULL,
	[USERID] [int] NOT NULL,
	[RECUSERID] [nvarchar](100) NOT NULL,
	[ADDITIONALDATA] [text] NULL,
 CONSTRAINT [PK_PUBLISHEDEVENTS] PRIMARY KEY CLUSTERED 
(
	[PUBLISHEDEVENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'VERSION', @value=N'1.1.5.1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PUBLISHEDEVENTS'
GO
/****** Object:  Table [dbo].[QUEUEDEVENTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUEUEDEVENTS](
	[QUEUEDEVENTID] [int] IDENTITY(1,1) NOT NULL,
	[PUBLISHEDEVENTID] [int] NOT NULL,
	[EVENTLISTENERID] [int] NOT NULL,
	[GUID] [varchar](50) NULL,
	[DATELOCKED] [datetime] NULL,
 CONSTRAINT [PK_QUEUEDEVENTS] PRIMARY KEY CLUSTERED 
(
	[QUEUEDEVENTID] ASC
)WITH (PAD_INDEX  = ON, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROCESSEDEVENTS]    Script Date: 11/01/2013 12:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCESSEDEVENTS](
	[PROCESSEDEVENTID] [int] IDENTITY(1,1) NOT NULL,
	[PUBLISHEDEVENTID] [int] NOT NULL,
	[EVENTLISTENERID] [int] NOT NULL,
	[DATEPROCESSED] [datetime] NOT NULL,
	[REQUEST] [text] NULL,
	[RESPONSE] [text] NULL,
 CONSTRAINT [PK_PROCESSEDEVENTS] PRIMARY KEY CLUSTERED 
(
	[PROCESSEDEVENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'VERSION', @value=N'1.1.5.1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PROCESSEDEVENTS'
GO
/****** Object:  Default [DF_EVENTLISTENERATTRIBUTES_ISXML]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERATTRIBUTES] ADD  CONSTRAINT [DF_EVENTLISTENERATTRIBUTES_ISXML]  DEFAULT ((0)) FOR [ISXML]
GO
/****** Object:  Default [DF_EVENTLISTENERATTRIBUTES_DATEADDED]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERATTRIBUTES] ADD  CONSTRAINT [DF_EVENTLISTENERATTRIBUTES_DATEADDED]  DEFAULT (getdate()) FOR [DATEADDED]
GO
/****** Object:  Default [DF_EVENTLISTENERATTRIBUTES_ISDELETED]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERATTRIBUTES] ADD  CONSTRAINT [DF_EVENTLISTENERATTRIBUTES_ISDELETED]  DEFAULT ((0)) FOR [ISDELETED]
GO
/****** Object:  Default [DF__EVENTLIST__HTMLD__56E8E7AB]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERATTRIBUTES] ADD  DEFAULT ((1)) FOR [HTMLDECODE]
GO
/****** Object:  Default [DF_EVENTLISTENERCLASSES_INTERVALHOURS]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERCLASSES] ADD  CONSTRAINT [DF_EVENTLISTENERCLASSES_INTERVALHOURS]  DEFAULT ((0)) FOR [INTERVALHOURS]
GO
/****** Object:  Default [DF_EVENTLISTENERCLASSES_INTERVALMINUTES]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERCLASSES] ADD  CONSTRAINT [DF_EVENTLISTENERCLASSES_INTERVALMINUTES]  DEFAULT ((0)) FOR [INTERVALMINUTES]
GO
/****** Object:  Default [DF_EVENTLISTENERCLASSES_INTERVALSECONDS]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERCLASSES] ADD  CONSTRAINT [DF_EVENTLISTENERCLASSES_INTERVALSECONDS]  DEFAULT ((0)) FOR [INTERVALSECONDS]
GO
/****** Object:  Default [DF_EVENTLISTENERCLASSES_RUNONSTART]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERCLASSES] ADD  CONSTRAINT [DF_EVENTLISTENERCLASSES_RUNONSTART]  DEFAULT ((0)) FOR [RUNONSTART]
GO
/****** Object:  Default [DF_EVENTLISTENERCLASSES_DATEADDED]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERCLASSES] ADD  CONSTRAINT [DF_EVENTLISTENERCLASSES_DATEADDED]  DEFAULT (getdate()) FOR [DATEADDED]
GO
/****** Object:  Default [DF_EVENTLISTENERCLASSES_ISDELETED]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERCLASSES] ADD  CONSTRAINT [DF_EVENTLISTENERCLASSES_ISDELETED]  DEFAULT ((0)) FOR [ISDELETED]
GO
/****** Object:  Default [DF_EVENTLISTENERS_DATEADDED]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERS] ADD  CONSTRAINT [DF_EVENTLISTENERS_DATEADDED]  DEFAULT (getdate()) FOR [DATEADDED]
GO
/****** Object:  Default [DF_EVENTLISTENERS_ISDELETED]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERS] ADD  CONSTRAINT [DF_EVENTLISTENERS_ISDELETED]  DEFAULT ((0)) FOR [ISDELETED]
GO
/****** Object:  Default [DF_EVENTS_DATEADDED]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTS] ADD  CONSTRAINT [DF_EVENTS_DATEADDED]  DEFAULT (getdate()) FOR [DATEADDED]
GO
/****** Object:  Default [DF_EVENTS_ISDELETED]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTS] ADD  CONSTRAINT [DF_EVENTS_ISDELETED]  DEFAULT ((0)) FOR [ISDELETED]
GO
/****** Object:  Default [DF_EVENTS_ISPRIVATE]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTS] ADD  CONSTRAINT [DF_EVENTS_ISPRIVATE]  DEFAULT ((0)) FOR [ISPRIVATE]
GO
/****** Object:  Default [DF_EVENTSUBSCRIPTIONS_DATEADDED]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTSUBSCRIPTIONS] ADD  CONSTRAINT [DF_EVENTSUBSCRIPTIONS_DATEADDED]  DEFAULT (getdate()) FOR [DATEADDED]
GO
/****** Object:  Default [DF_EVENTSUBSCRIPTIONS_ISDELETED]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTSUBSCRIPTIONS] ADD  CONSTRAINT [DF_EVENTSUBSCRIPTIONS_ISDELETED]  DEFAULT ((0)) FOR [ISDELETED]
GO
/****** Object:  Default [DF_PUBLISHEDEVENTS_EVENTDATE]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[PUBLISHEDEVENTS] ADD  CONSTRAINT [DF_PUBLISHEDEVENTS_EVENTDATE]  DEFAULT (getdate()) FOR [EVENTDATE]
GO
/****** Object:  Default [DF_PUBLISHEDEVENTS_USERID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[PUBLISHEDEVENTS] ADD  CONSTRAINT [DF_PUBLISHEDEVENTS_USERID]  DEFAULT ((0)) FOR [USERID]
GO
/****** Object:  ForeignKey [FK_dbo.ALLERGIES_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[ALLERGIES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ALLERGIES_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[ALLERGIES] CHECK CONSTRAINT [FK_dbo.ALLERGIES_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.APPOINTMENTFOLLOWUPS_dbo.APPOINTMENTS_APPOINTMENTID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[APPOINTMENTFOLLOWUPS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPOINTMENTFOLLOWUPS_dbo.APPOINTMENTS_APPOINTMENTID] FOREIGN KEY([APPOINTMENTID])
REFERENCES [dbo].[APPOINTMENTS] ([APPOINTMENTID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APPOINTMENTFOLLOWUPS] CHECK CONSTRAINT [FK_dbo.APPOINTMENTFOLLOWUPS_dbo.APPOINTMENTS_APPOINTMENTID]
GO
/****** Object:  ForeignKey [FK_dbo.APPOINTMENTMESSAGES_dbo.APPOINTMENTS_APPOINTMENTID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[APPOINTMENTMESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPOINTMENTMESSAGES_dbo.APPOINTMENTS_APPOINTMENTID] FOREIGN KEY([APPOINTMENTID])
REFERENCES [dbo].[APPOINTMENTS] ([APPOINTMENTID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APPOINTMENTMESSAGES] CHECK CONSTRAINT [FK_dbo.APPOINTMENTMESSAGES_dbo.APPOINTMENTS_APPOINTMENTID]
GO
/****** Object:  ForeignKey [FK_dbo.APPOINTMENTMESSAGES_dbo.MESSAGES_MESSAGEID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[APPOINTMENTMESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPOINTMENTMESSAGES_dbo.MESSAGES_MESSAGEID] FOREIGN KEY([MESSAGEID])
REFERENCES [dbo].[MESSAGES] ([MESSAGEID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APPOINTMENTMESSAGES] CHECK CONSTRAINT [FK_dbo.APPOINTMENTMESSAGES_dbo.MESSAGES_MESSAGEID]
GO
/****** Object:  ForeignKey [FK_dbo.APPOINTMENTRATINGS_dbo.APPOINTMENTS_APPOINTMENTID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[APPOINTMENTRATINGS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPOINTMENTRATINGS_dbo.APPOINTMENTS_APPOINTMENTID] FOREIGN KEY([APPOINTMENTID])
REFERENCES [dbo].[APPOINTMENTS] ([APPOINTMENTID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APPOINTMENTRATINGS] CHECK CONSTRAINT [FK_dbo.APPOINTMENTRATINGS_dbo.APPOINTMENTS_APPOINTMENTID]
GO
/****** Object:  ForeignKey [FK_dbo.APPOINTMENTS_dbo.USERS_PATIENTID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPOINTMENTS_dbo.USERS_PATIENTID] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[APPOINTMENTS] CHECK CONSTRAINT [FK_dbo.APPOINTMENTS_dbo.USERS_PATIENTID]
GO
/****** Object:  ForeignKey [FK_dbo.APPOINTMENTSLOTS_dbo.APPOINTMENTS_APPOINTMENTID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[APPOINTMENTSLOTS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.APPOINTMENTSLOTS_dbo.APPOINTMENTS_APPOINTMENTID] FOREIGN KEY([APPOINTMENTID])
REFERENCES [dbo].[APPOINTMENTS] ([APPOINTMENTID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APPOINTMENTSLOTS] CHECK CONSTRAINT [FK_dbo.APPOINTMENTSLOTS_dbo.APPOINTMENTS_APPOINTMENTID]
GO
/****** Object:  ForeignKey [FK_dbo.ATTACHMENTLINKS_dbo.DOCUMENTATTACHMENTS_ATTACHMENTID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[ATTACHMENTLINKS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ATTACHMENTLINKS_dbo.DOCUMENTATTACHMENTS_ATTACHMENTID] FOREIGN KEY([ATTACHMENTID])
REFERENCES [dbo].[DOCUMENTATTACHMENTS] ([ATTACHMENTID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ATTACHMENTLINKS] CHECK CONSTRAINT [FK_dbo.ATTACHMENTLINKS_dbo.DOCUMENTATTACHMENTS_ATTACHMENTID]
GO
/****** Object:  ForeignKey [FK_dbo.CANCELLEDAPPOINTMENTS_dbo.APPOINTMENTS_APPOINTMENTID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[CANCELLEDAPPOINTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CANCELLEDAPPOINTMENTS_dbo.APPOINTMENTS_APPOINTMENTID] FOREIGN KEY([APPOINTMENTID])
REFERENCES [dbo].[APPOINTMENTS] ([APPOINTMENTID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CANCELLEDAPPOINTMENTS] CHECK CONSTRAINT [FK_dbo.CANCELLEDAPPOINTMENTS_dbo.APPOINTMENTS_APPOINTMENTID]
GO
/****** Object:  ForeignKey [FK_dbo.CHATHISTORYS_dbo.CHATSESSIONS_CHATSESSIONID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[CHATHISTORYS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CHATHISTORYS_dbo.CHATSESSIONS_CHATSESSIONID] FOREIGN KEY([CHATSESSIONID])
REFERENCES [dbo].[CHATSESSIONS] ([CHATSESSIONID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHATHISTORYS] CHECK CONSTRAINT [FK_dbo.CHATHISTORYS_dbo.CHATSESSIONS_CHATSESSIONID]
GO
/****** Object:  ForeignKey [FK_dbo.DOCPAYMENTS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[DOCPAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DOCPAYMENTS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[DOCPAYMENTS] CHECK CONSTRAINT [FK_dbo.DOCPAYMENTS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.DOCSUBSCRIPTIONS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[DOCSUBSCRIPTIONS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DOCSUBSCRIPTIONS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[DOCSUBSCRIPTIONS] CHECK CONSTRAINT [FK_dbo.DOCSUBSCRIPTIONS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.DOCTORAVAILABILITIES_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[DOCTORAVAILABILITIES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DOCTORAVAILABILITIES_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[DOCTORAVAILABILITIES] CHECK CONSTRAINT [FK_dbo.DOCTORAVAILABILITIES_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.DOCTORNOTES_dbo.APPOINTMENTS_APPOINTMENTID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[DOCTORNOTES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DOCTORNOTES_dbo.APPOINTMENTS_APPOINTMENTID] FOREIGN KEY([APPOINTMENTID])
REFERENCES [dbo].[APPOINTMENTS] ([APPOINTMENTID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DOCTORNOTES] CHECK CONSTRAINT [FK_dbo.DOCTORNOTES_dbo.APPOINTMENTS_APPOINTMENTID]
GO
/****** Object:  ForeignKey [FK_dbo.DOCTORPAYRATES_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[DOCTORPAYRATES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DOCTORPAYRATES_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[DOCTORPAYRATES] CHECK CONSTRAINT [FK_dbo.DOCTORPAYRATES_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.DOCTORSINFORMATIONS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[DOCTORSINFORMATIONS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DOCTORSINFORMATIONS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[DOCTORSINFORMATIONS] CHECK CONSTRAINT [FK_dbo.DOCTORSINFORMATIONS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.DOCTORSLOTS_dbo.DOCTORAVAILABILITIES_DOCTORAVAILABILITY_AVAILABILITYID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[DOCTORSLOTS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DOCTORSLOTS_dbo.DOCTORAVAILABILITIES_DOCTORAVAILABILITY_AVAILABILITYID] FOREIGN KEY([DOCTORAVAILABILITY_AVAILABILITYID])
REFERENCES [dbo].[DOCTORAVAILABILITIES] ([AVAILABILITYID])
GO
ALTER TABLE [dbo].[DOCTORSLOTS] CHECK CONSTRAINT [FK_dbo.DOCTORSLOTS_dbo.DOCTORAVAILABILITIES_DOCTORAVAILABILITY_AVAILABILITYID]
GO
/****** Object:  ForeignKey [FK_dbo.DOCTORSLOTS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[DOCTORSLOTS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DOCTORSLOTS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[DOCTORSLOTS] CHECK CONSTRAINT [FK_dbo.DOCTORSLOTS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.DOCTORSPECIALITIES_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[DOCTORSPECIALITIES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DOCTORSPECIALITIES_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[DOCTORSPECIALITIES] CHECK CONSTRAINT [FK_dbo.DOCTORSPECIALITIES_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.DOCTORSTATUS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[DOCTORSTATUS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DOCTORSTATUS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[DOCTORSTATUS] CHECK CONSTRAINT [FK_dbo.DOCTORSTATUS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.DOCTORWORKINGINSTITUIONS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[DOCTORWORKINGINSTITUIONS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DOCTORWORKINGINSTITUIONS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[DOCTORWORKINGINSTITUIONS] CHECK CONSTRAINT [FK_dbo.DOCTORWORKINGINSTITUIONS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_EVENTLISTENERATTRIBUTES_EVENTLISTENERS]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERATTRIBUTES]  WITH NOCHECK ADD  CONSTRAINT [FK_EVENTLISTENERATTRIBUTES_EVENTLISTENERS] FOREIGN KEY([EVENTLISTENERID])
REFERENCES [dbo].[EVENTLISTENERS] ([EVENTLISTENERID])
GO
ALTER TABLE [dbo].[EVENTLISTENERATTRIBUTES] CHECK CONSTRAINT [FK_EVENTLISTENERATTRIBUTES_EVENTLISTENERS]
GO
/****** Object:  ForeignKey [FK_EVENTLISTENERS_EVENTLISTENERCLASSES]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTLISTENERS]  WITH NOCHECK ADD  CONSTRAINT [FK_EVENTLISTENERS_EVENTLISTENERCLASSES] FOREIGN KEY([EVENTLISTENERCLASSID])
REFERENCES [dbo].[EVENTLISTENERCLASSES] ([CLASSID])
GO
ALTER TABLE [dbo].[EVENTLISTENERS] CHECK CONSTRAINT [FK_EVENTLISTENERS_EVENTLISTENERCLASSES]
GO
/****** Object:  ForeignKey [FK_EVENTS_OBJECTTYPES]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [FK_EVENTS_OBJECTTYPES] FOREIGN KEY([OBJECTTYPEID])
REFERENCES [dbo].[OBJECTTYPES] ([OBJECTTYPEID])
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [FK_EVENTS_OBJECTTYPES]
GO
/****** Object:  ForeignKey [FK_EVENTSUBSCRIPTIONS_EVENTLISTENERS]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTSUBSCRIPTIONS]  WITH NOCHECK ADD  CONSTRAINT [FK_EVENTSUBSCRIPTIONS_EVENTLISTENERS] FOREIGN KEY([EVENTLISTENERID])
REFERENCES [dbo].[EVENTLISTENERS] ([EVENTLISTENERID])
GO
ALTER TABLE [dbo].[EVENTSUBSCRIPTIONS] CHECK CONSTRAINT [FK_EVENTSUBSCRIPTIONS_EVENTLISTENERS]
GO
/****** Object:  ForeignKey [FK_EVENTSUBSCRIPTIONS_EVENTS]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[EVENTSUBSCRIPTIONS]  WITH CHECK ADD  CONSTRAINT [FK_EVENTSUBSCRIPTIONS_EVENTS] FOREIGN KEY([EVENTID])
REFERENCES [dbo].[EVENTS] ([EVENTID])
GO
ALTER TABLE [dbo].[EVENTSUBSCRIPTIONS] CHECK CONSTRAINT [FK_EVENTSUBSCRIPTIONS_EVENTS]
GO
/****** Object:  ForeignKey [FK_dbo.IMMUNIZATIONS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[IMMUNIZATIONS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IMMUNIZATIONS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[IMMUNIZATIONS] CHECK CONSTRAINT [FK_dbo.IMMUNIZATIONS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.LISTVALUES_dbo.LISTMASTERS_LISTID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[LISTVALUES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LISTVALUES_dbo.LISTMASTERS_LISTID] FOREIGN KEY([LISTID])
REFERENCES [dbo].[LISTMASTERS] ([LISTID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LISTVALUES] CHECK CONSTRAINT [FK_dbo.LISTVALUES_dbo.LISTMASTERS_LISTID]
GO
/****** Object:  ForeignKey [FK_dbo.MEDICATIONS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[MEDICATIONS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MEDICATIONS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[MEDICATIONS] CHECK CONSTRAINT [FK_dbo.MEDICATIONS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.PATIENTINFORMATIONS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[PATIENTINFORMATIONS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PATIENTINFORMATIONS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[PATIENTINFORMATIONS] CHECK CONSTRAINT [FK_dbo.PATIENTINFORMATIONS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.PATIENTREPORTS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[PATIENTREPORTS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PATIENTREPORTS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[PATIENTREPORTS] CHECK CONSTRAINT [FK_dbo.PATIENTREPORTS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.PREFERREDDOCTORS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[PREFERREDDOCTORS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PREFERREDDOCTORS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[PREFERREDDOCTORS] CHECK CONSTRAINT [FK_dbo.PREFERREDDOCTORS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.PROCEDURES_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[PROCEDURES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PROCEDURES_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[PROCEDURES] CHECK CONSTRAINT [FK_dbo.PROCEDURES_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_EVENTLISTENERS_PROCESSEDEVENTS]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[PROCESSEDEVENTS]  WITH NOCHECK ADD  CONSTRAINT [FK_EVENTLISTENERS_PROCESSEDEVENTS] FOREIGN KEY([EVENTLISTENERID])
REFERENCES [dbo].[EVENTLISTENERS] ([EVENTLISTENERID])
GO
ALTER TABLE [dbo].[PROCESSEDEVENTS] CHECK CONSTRAINT [FK_EVENTLISTENERS_PROCESSEDEVENTS]
GO
/****** Object:  ForeignKey [FK_PUBLISHEDEVENTS_PROCESSEDEVENTS]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[PROCESSEDEVENTS]  WITH NOCHECK ADD  CONSTRAINT [FK_PUBLISHEDEVENTS_PROCESSEDEVENTS] FOREIGN KEY([PUBLISHEDEVENTID])
REFERENCES [dbo].[PUBLISHEDEVENTS] ([PUBLISHEDEVENTID])
GO
ALTER TABLE [dbo].[PROCESSEDEVENTS] CHECK CONSTRAINT [FK_PUBLISHEDEVENTS_PROCESSEDEVENTS]
GO
/****** Object:  ForeignKey [FK_EVENTS_PUBLISHEDEVENTS]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[PUBLISHEDEVENTS]  WITH NOCHECK ADD  CONSTRAINT [FK_EVENTS_PUBLISHEDEVENTS] FOREIGN KEY([EVENTID])
REFERENCES [dbo].[EVENTS] ([EVENTID])
GO
ALTER TABLE [dbo].[PUBLISHEDEVENTS] CHECK CONSTRAINT [FK_EVENTS_PUBLISHEDEVENTS]
GO
/****** Object:  ForeignKey [FK_EVENTLISTENERS_QUEUEDEVENTS]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[QUEUEDEVENTS]  WITH NOCHECK ADD  CONSTRAINT [FK_EVENTLISTENERS_QUEUEDEVENTS] FOREIGN KEY([EVENTLISTENERID])
REFERENCES [dbo].[EVENTLISTENERS] ([EVENTLISTENERID])
GO
ALTER TABLE [dbo].[QUEUEDEVENTS] CHECK CONSTRAINT [FK_EVENTLISTENERS_QUEUEDEVENTS]
GO
/****** Object:  ForeignKey [FK_PUBLISHEDEVENTS_QUEUEDEVENTS]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[QUEUEDEVENTS]  WITH NOCHECK ADD  CONSTRAINT [FK_PUBLISHEDEVENTS_QUEUEDEVENTS] FOREIGN KEY([PUBLISHEDEVENTID])
REFERENCES [dbo].[PUBLISHEDEVENTS] ([PUBLISHEDEVENTID])
GO
ALTER TABLE [dbo].[QUEUEDEVENTS] CHECK CONSTRAINT [FK_PUBLISHEDEVENTS_QUEUEDEVENTS]
GO
/****** Object:  ForeignKey [FK_dbo.RECENTSEARCHS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[RECENTSEARCHS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RECENTSEARCHS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[RECENTSEARCHS] CHECK CONSTRAINT [FK_dbo.RECENTSEARCHS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.RoleUSERSINFORMATIONs_dbo.Roles_Role_RoleName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[RoleUSERSINFORMATIONs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleUSERSINFORMATIONs_dbo.Roles_Role_RoleName] FOREIGN KEY([Role_RoleName])
REFERENCES [dbo].[Roles] ([RoleName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUSERSINFORMATIONs] CHECK CONSTRAINT [FK_dbo.RoleUSERSINFORMATIONs_dbo.Roles_Role_RoleName]
GO
/****** Object:  ForeignKey [FK_dbo.RoleUSERSINFORMATIONs_dbo.USERS_USERSINFORMATION_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[RoleUSERSINFORMATIONs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleUSERSINFORMATIONs_dbo.USERS_USERSINFORMATION_UserName] FOREIGN KEY([USERSINFORMATION_UserName])
REFERENCES [dbo].[USERS] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUSERSINFORMATIONs] CHECK CONSTRAINT [FK_dbo.RoleUSERSINFORMATIONs_dbo.USERS_USERSINFORMATION_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.SUBSCRIPTIONINSTALLMENTS_dbo.SUBSCRIPTIONS_SUBSCRIPTIONID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[SUBSCRIPTIONINSTALLMENTS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SUBSCRIPTIONINSTALLMENTS_dbo.SUBSCRIPTIONS_SUBSCRIPTIONID] FOREIGN KEY([SUBSCRIPTIONID])
REFERENCES [dbo].[SUBSCRIPTIONS] ([SUBSCRIPTIONID])
GO
ALTER TABLE [dbo].[SUBSCRIPTIONINSTALLMENTS] CHECK CONSTRAINT [FK_dbo.SUBSCRIPTIONINSTALLMENTS_dbo.SUBSCRIPTIONS_SUBSCRIPTIONID]
GO
/****** Object:  ForeignKey [FK_dbo.SUBSCRIPTIONPAYMENTS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[SUBSCRIPTIONPAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SUBSCRIPTIONPAYMENTS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[SUBSCRIPTIONPAYMENTS] CHECK CONSTRAINT [FK_dbo.SUBSCRIPTIONPAYMENTS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.SUBSCRIPTIONS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[SUBSCRIPTIONS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SUBSCRIPTIONS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[SUBSCRIPTIONS] CHECK CONSTRAINT [FK_dbo.SUBSCRIPTIONS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.USERLOGINS_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[USERLOGINS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.USERLOGINS_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[USERLOGINS] CHECK CONSTRAINT [FK_dbo.USERLOGINS_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.USERPASSWORD_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[USERPASSWORD]  WITH CHECK ADD  CONSTRAINT [FK_dbo.USERPASSWORD_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[USERPASSWORD] CHECK CONSTRAINT [FK_dbo.USERPASSWORD_dbo.USERS_UserName]
GO
/****** Object:  ForeignKey [FK_dbo.USERSLANGUAGES_dbo.LANGUAGES_LANGUAGEKEYID]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[USERSLANGUAGES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.USERSLANGUAGES_dbo.LANGUAGES_LANGUAGEKEYID] FOREIGN KEY([LANGUAGEKEYID])
REFERENCES [dbo].[LANGUAGES] ([LANGUAGEKEYID])
GO
ALTER TABLE [dbo].[USERSLANGUAGES] CHECK CONSTRAINT [FK_dbo.USERSLANGUAGES_dbo.LANGUAGES_LANGUAGEKEYID]
GO
/****** Object:  ForeignKey [FK_dbo.USERSLANGUAGES_dbo.USERS_UserName]    Script Date: 11/01/2013 12:01:00 ******/
ALTER TABLE [dbo].[USERSLANGUAGES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.USERSLANGUAGES_dbo.USERS_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[USERS] ([UserName])
GO
ALTER TABLE [dbo].[USERSLANGUAGES] CHECK CONSTRAINT [FK_dbo.USERSLANGUAGES_dbo.USERS_UserName]
GO
