@{
    ViewBag.Title = "AccessDenied";
}

<div class="contentTitle">
    <h2>Access Denied</h2>
    <div class="title_b_l"></div>
    <div class="title_b_r"></div>
</div>
<div class="bodyContent">
    <div class="bodyContentPadding">
       <h1>You are not authorized to view this page.</h1>      
    </div>
</div>
