@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="list-header clearfix">
    <h1>Error</h1>
</div>
<div class="list-sfs-holder">
    <h1 class="alert alert-error">
        An unexpected error has occurred. Please contact the system administrator.</h1>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <h1>            
           <b> @Model.Exception.Message<br />
           </b>        
        </h1>
    }
</div>
