@section head
{

}



<ul class="footer_menu">
    <li>
        <a class="fNiv" href="~/Home/Index">Home</a>
    </li>
    <li>
        <a class="fNiv" href="~/DoctorInformation/DoctorsSearch">About Doctor</a>
    </li>

    <li><a class="fNiv" href="#">Contact Us</a>
    </li>
</ul>
<ul class="footer_menu">

    <li>
        <a class="fNiv" href="~/Registration/PatientSignUp">Patient Sign Up</a>
    </li>
    <li>
        <a class="fNiv" href="~/Registration/DoctorSignUp">Doctor Sign Up</a>
    </li>
    <li>
        <a class="fNiv" href="~/Account/LogOn">Login</a>
    </li>

    <li>
        <a class="fNiv" href="~/DoctorInformation/DoctorsSearch">Find your Doctor</a>
    </li>   
</ul>
<ul class="footer_menu">
    <li>
        <a class="fNiv" href="#">Legal</a>
    </li>   
    <li>
        <a class="fNiv" href="#">Investors</a>
    </li>
    <li>
        <a class="fNiv" href="#">Jobs</a>
    </li>

</ul>

<div class="right">
    <a class="fNiv" href="~/Home/Index"><img src="/content/images/logo_footer.png" /></a>
   @* <address>
        79 West Monroe Street, # 915
        Chicago,  IL - 60603
       
    </address>
     <div class="email"><span></span><a href="mailto:info@doccareonline.com">Info@doccareonline.com</a></div>*@
</div>


