@section head
{
    
}

<div id="accordion">
        
    
    <h3 class="leftmenu_header"><span class="iconUserProfile"></span><b>Profile</b></h3>
                 <div>
                <ul class="a" >
               <li><a href="~/PatientProfile/MyProfile" >View Profile</a></li>
              <li> <a href="~/PatientProfile/BasicInformation" >Basic Information</a></li>
              <li> <a href="~/PatientProfile/ProfilePicure" >Profile Picture</a></li>
              <li> <a href="~/PatientProfile/ContactInformation" >Contact Information</a></li>
                </ul>
                </div>
            
                <h3 class="leftmenu_header">Video Conferencing</h3>
            <div>
                <ul>
                    <li>
                        <a href="~/DoctorInformation/VideoConf">Video Conferencing</a>
                     </li>
                    
                </ul>
              </div>

           
                <h3 class="leftmenu_header">Appointments</h3>
                <div>
                <ul>
                   
                    <li class='last'><a href="~/PatientProfile/Appointment"onclick="tab('tab1')">Upcoming Appointments</a></li>
                    <li class='last'><a  onclick="tab('tab2')">Past Appointments</a></li>
                    
                </ul>
               </div>
            
           
                <h3 class="leftmenu_header">ProviderSearch</h3>
                <div>
                <ul>
                   
                    <li class='last'><a href="~/PatientProfile/DoctorsSearch">Advanced Search</a></li>
                    <li class='last'><a href="~/PatientProfile/PreferredProviders">Prefered Providers</a></li>
                    
                </ul>
          </div>
             
                <h3 class="leftmenu_header">Message Center</h3>
                  <div>
                <ul>
                    <li class='last'><a href="~/Message/Inbox">Inbox</a></li>
                    <li class='last'><a href="~/Message/SentItems">Sent Items</a></li>
                </ul>
            </div>
            
                <h3 class="leftmenu_header">Health History</h3>
               <div>
                <ul>

                    <li class='last'><a href="~/HealthHistory/upload">Upload Reports</a></li>
                    <li class='last'><a href="~/HealthHistory/upload">Medications</a></li>
                     <li class='last'><a href="~/HealthHistory/upload">Allergies</a></li>
                    <li class='last'><a href="~/HealthHistory/upload">Immunizations</a></li>
                     <li class='last'><a href="~/HealthHistory/upload">Procedures</a></li>                   

                </ul>
            </div>
            
                <h3 class="leftmenu_header">My Accounts</h3>

             <div>
            <ul>
                <li class='last'>
                    <a href="~/AccountSettings/AccountSettingPatient">Account Settings</a>
                </li>               
            </ul>
		    </li>   
       </ul>
    </div>
       
    </div>
       
