@model client.Web.Models.LogOnModel

@{
    ViewBag.Title = "Registration Success";  
}




<div class="appoinment_res signupForm">


    <div class="sorry_left">
        <h1>Welcome to docare!</h1>
        <h3 style="font-size:18px;">Thanks for registering with docare.<br />
        Please check your email to complete your registration .</h3>

    </div>
    <div class="sorry_right">
        <img src="~/Content/Images/amy_home.png" />
    </div>
    <div class="clear"></div>

        <span class="iconError"></span><b></b>
    

    </div>